<div class="col s12 m10 offset-m1 l6">
    <div class="card-panel">
        <div class="row">
            <div class="col s12 center-align">
                <h4>{{{__ "Trainer Materials"}}}</h4>
                <hr>

                <ul class="collection">
                    <li class="collection-item">
                        <div class="left-align">
                            <a href="https://docs.google.com/document/d/1G2ErNUcRkyHsFP6srtEqlT6q9CnyMNegDOR2OKa3chI/edit?usp=sharing"
                               onclick="trackOutboundLink(event, 'https://docs.google.com/document/d/1G2ErNUcRkyHsFP6srtEqlT6q9CnyMNegDOR2OKa3chI/edit?usp=sharing'); return false;"
                               target="_blank"
                            >
                                {{{__ "SOLE 101 Training Manual"}}}
                            </a>
                            <a href="https://docs.google.com/document/d/1G2ErNUcRkyHsFP6srtEqlT6q9CnyMNegDOR2OKa3chI/export?format=doc"
                               onclick="trackOutboundLink(event, 'https://docs.google.com/document/d/1G2ErNUcRkyHsFP6srtEqlT6q9CnyMNegDOR2OKa3chI/export?format=doc'); return false;"
                               class="secondary-content filetype-icon-wrapper tooltipped"
                               target="_blank"
                               data-position="bottom"
                               data-tooltip="Microsoft Word">
                                <img src="/images/profile/doc.svg" alt="">
                            </a>
                            <a href="https://docs.google.com/document/d/1G2ErNUcRkyHsFP6srtEqlT6q9CnyMNegDOR2OKa3chI/export?format=pdf"
                               onclick="trackOutboundLink(event, 'https://docs.google.com/document/d/1G2ErNUcRkyHsFP6srtEqlT6q9CnyMNegDOR2OKa3chI/export?format=pdf'); return false;"
                               class="secondary-content filetype-icon-wrapper tooltipped"
                               target="_blank"
                               data-position="bottom"
                               data-tooltip="PDF">
                                <img src="/images/profile/pdf.svg" alt="">
                            </a>
                            <a href="https://docs.google.com/document/d/1G2ErNUcRkyHsFP6srtEqlT6q9CnyMNegDOR2OKa3chI/edit?usp=sharing"
                               onclick="trackOutboundLink(event, 'https://docs.google.com/document/d/1G2ErNUcRkyHsFP6srtEqlT6q9CnyMNegDOR2OKa3chI/edit?usp=sharing'); return false;"
                               class="secondary-content filetype-icon-wrapper tooltipped"
                               target="_blank"
                               data-position="bottom"
                               data-tooltip="Google Doc">
                                <img src="/images/profile/gdoc.svg" alt="">
                            </a>
                            <!--<a href="https://docs.google.com/document/d/1G2ErNUcRkyHsFP6srtEqlT6q9CnyMNegDOR2OKa3chI/copy"-->
                        </div>
                    </li>
                    <li class="collection-item">
                        <div class="left-align">
                            <a href="https://docs.google.com/presentation/d/1ou5fV2BjTT69-H_rQPimMWGcZS1ucZOvh1drzjGqNP4/edit?usp=sharing"
                               onclick="trackOutboundLink(event, 'https://docs.google.com/presentation/d/1ou5fV2BjTT69-H_rQPimMWGcZS1ucZOvh1drzjGqNP4/edit?usp=sharing'); return false;"
                               target="_blank"
                            >
                                {{{__ "StartSOLE 101 Presentation"}}}
                            </a>
                            <a href="https://docs.google.com/presentation/d/1ou5fV2BjTT69-H_rQPimMWGcZS1ucZOvh1drzjGqNP4/export/ppt"
                               onclick="trackOutboundLink(event, 'https://docs.google.com/presentation/d/1ou5fV2BjTT69-H_rQPimMWGcZS1ucZOvh1drzjGqNP4/export/ppt'); return false;"
                               class="secondary-content filetype-icon-wrapper tooltipped"
                               target="_blank"
                               data-position="bottom"
                               data-tooltip="PowerPoint">
                                <img src="/images/profile/ppt.svg" alt="">
                            </a>
                            <a href="https://docs.google.com/presentation/d/1ou5fV2BjTT69-H_rQPimMWGcZS1ucZOvh1drzjGqNP4/export/pdf"
                               onclick="trackOutboundLink(event, 'https://docs.google.com/presentation/d/1ou5fV2BjTT69-H_rQPimMWGcZS1ucZOvh1drzjGqNP4/export/pdf'); return false;"
                               class="secondary-content filetype-icon-wrapper tooltipped"
                               target="_blank"
                               data-position="bottom"
                               data-tooltip="PDF">
                                <img src="/images/profile/pdf.svg" alt="">
                            </a>
                            <a href="https://docs.google.com/presentation/d/1ou5fV2BjTT69-H_rQPimMWGcZS1ucZOvh1drzjGqNP4/edit?usp=sharing"
                               onclick="trackOutboundLink(event, 'https://docs.google.com/presentation/d/1ou5fV2BjTT69-H_rQPimMWGcZS1ucZOvh1drzjGqNP4/edit?usp=sharing'); return false;"
                               class="secondary-content filetype-icon-wrapper tooltipped"
                               target="_blank"
                               data-position="bottom"
                               data-tooltip="Google Doc">
                                <img src="/images/profile/gdoc.svg" alt="">
                            </a>
                        </div>
                    </li>
                    <li class="collection-item">
                        <div class="left-align">
                            <a href="https://docs.google.com/presentation/d/1nby61PWTdZjsP9caLB5M8rLyT5NMTYzoI5V0fJHth3w/edit?usp=sharing"
                               onclick="trackOutboundLink(event, 'https://docs.google.com/presentation/d/1nby61PWTdZjsP9caLB5M8rLyT5NMTYzoI5V0fJHth3w/edit?usp=sharing'); return false;"
                               target="_blank"
                            >
                                {{{__ "StartSOLE 101 Presentation (1 hour version)"}}}
                            </a>
                            <a href="https://docs.google.com/presentation/d/1nby61PWTdZjsP9caLB5M8rLyT5NMTYzoI5V0fJHth3w/export/ppt"
                               onclick="trackOutboundLink(event, 'https://docs.google.com/presentation/d/1nby61PWTdZjsP9caLB5M8rLyT5NMTYzoI5V0fJHth3w/export/ppt'); return false;"
                               class="secondary-content filetype-icon-wrapper tooltipped"
                               target="_blank"
                               data-position="bottom"
                               data-tooltip="PowerPoint">
                                <img src="/images/profile/ppt.svg" alt="">
                            </a>
                            <a href="https://docs.google.com/presentation/d/1nby61PWTdZjsP9caLB5M8rLyT5NMTYzoI5V0fJHth3w/export/pdf"
                               onclick="trackOutboundLink(event, 'https://docs.google.com/presentation/d/1nby61PWTdZjsP9caLB5M8rLyT5NMTYzoI5V0fJHth3w/export/pdf'); return false;"
                               class="secondary-content filetype-icon-wrapper tooltipped"
                               target="_blank"
                               data-position="bottom"
                               data-tooltip="PDF">
                                <img src="/images/profile/pdf.svg" alt="">
                            </a>
                            <a href="https://docs.google.com/presentation/d/1nby61PWTdZjsP9caLB5M8rLyT5NMTYzoI5V0fJHth3w/edit?usp=sharing"
                               onclick="trackOutboundLink(event, 'https://docs.google.com/presentation/d/1nby61PWTdZjsP9caLB5M8rLyT5NMTYzoI5V0fJHth3w/edit?usp=sharing'); return false;"
                               class="secondary-content filetype-icon-wrapper tooltipped"
                               target="_blank"
                               data-position="bottom"
                               data-tooltip="Google Doc">
                                <img src="/images/profile/gdoc.svg" alt="">
                            </a>
                        </div>
                    </li>
                    <li class="collection-item">
                        <div class="left-align">
                            <a href="https://docs.google.com/document/d/1A5Sn_C8bRzOdrUVPFhe0kFiWpVsKIy1PHbKJavHQNg4/edit?usp=sharing"
                               onclick="trackOutboundLink(event, 'https://docs.google.com/document/d/1A5Sn_C8bRzOdrUVPFhe0kFiWpVsKIy1PHbKJavHQNg4/edit?usp=sharing'); return false;"
                               target="_blank"
                            >
                                {{{__ "Sample Advertising Flyer"}}}
                            </a>
                            <a href="https://docs.google.com/document/d/1A5Sn_C8bRzOdrUVPFhe0kFiWpVsKIy1PHbKJavHQNg4/export?format=doc"
                               onclick="trackOutboundLink(event, 'https://docs.google.com/document/d/1A5Sn_C8bRzOdrUVPFhe0kFiWpVsKIy1PHbKJavHQNg4/export?format=doc'); return false;"
                               class="secondary-content filetype-icon-wrapper tooltipped"
                               target="_blank"
                               data-position="bottom"
                               data-tooltip="Microsoft Word">
                                <img src="/images/profile/doc.svg" alt="">
                            </a>
                            <a href="https://docs.google.com/document/d/1A5Sn_C8bRzOdrUVPFhe0kFiWpVsKIy1PHbKJavHQNg4/export?format=pdf"
                               onclick="trackOutboundLink(event, 'https://docs.google.com/document/d/1A5Sn_C8bRzOdrUVPFhe0kFiWpVsKIy1PHbKJavHQNg4/export?format=pdf'); return false;"
                               class="secondary-content filetype-icon-wrapper tooltipped"
                               target="_blank"
                               data-position="bottom"
                               data-tooltip="PDF">
                                <img src="/images/profile/pdf.svg" alt="">
                            </a>
                            <a href="https://docs.google.com/document/d/1A5Sn_C8bRzOdrUVPFhe0kFiWpVsKIy1PHbKJavHQNg4/edit?usp=sharing"
                               onclick="trackOutboundLink(event, 'https://docs.google.com/document/d/1A5Sn_C8bRzOdrUVPFhe0kFiWpVsKIy1PHbKJavHQNg4/edit?usp=sharing'); return false;"
                               class="secondary-content filetype-icon-wrapper tooltipped"
                               target="_blank"
                               data-position="bottom"
                               data-tooltip="Google Doc">
                                <img src="/images/profile/gdoc.svg" alt="">
                            </a>
                        </div>
                    </li>
                    <li class="collection-item">
                        <div class="left-align">
                            <a href="https://docs.google.com/presentation/d/1-7-k4hJSiULwdUsWtAVXAWBBG9Dea3K1Ss9RdZT9OIg/edit?usp=sharing"
                               onclick="trackOutboundLink(event, 'https://docs.google.com/presentation/d/1-7-k4hJSiULwdUsWtAVXAWBBG9Dea3K1Ss9RdZT9OIg/edit?usp=sharing'); return false;"
                               target="_blank"
                            >
                                {{{__ "Using the SOLE website"}}}
                            </a>
                            <a href="https://docs.google.com/presentation/d/1-7-k4hJSiULwdUsWtAVXAWBBG9Dea3K1Ss9RdZT9OIg/export/ppt"
                               onclick="trackOutboundLink(event, 'https://docs.google.com/presentation/d/1-7-k4hJSiULwdUsWtAVXAWBBG9Dea3K1Ss9RdZT9OIg/export/ppt'); return false;"
                               class="secondary-content filetype-icon-wrapper tooltipped"
                               target="_blank"
                               data-position="bottom"
                               data-tooltip="PowerPoint">
                                <img src="/images/profile/ppt.svg" alt="">
                            </a>
                            <a href="https://docs.google.com/presentation/d/1-7-k4hJSiULwdUsWtAVXAWBBG9Dea3K1Ss9RdZT9OIg/export/pdf"
                               onclick="trackOutboundLink(event, 'https://docs.google.com/presentation/d/1-7-k4hJSiULwdUsWtAVXAWBBG9Dea3K1Ss9RdZT9OIg/export/pdf'); return false;"
                               class="secondary-content filetype-icon-wrapper tooltipped"
                               target="_blank"
                               data-position="bottom"
                               data-tooltip="PDF">
                                <img src="/images/profile/pdf.svg" alt="">
                            </a>
                            <a href="https://docs.google.com/presentation/d/1-7-k4hJSiULwdUsWtAVXAWBBG9Dea3K1Ss9RdZT9OIg/edit?usp=sharing"
                               onclick="trackOutboundLink(event, 'https://docs.google.com/presentation/d/1-7-k4hJSiULwdUsWtAVXAWBBG9Dea3K1Ss9RdZT9OIg/edit?usp=sharing'); return false;"
                               class="secondary-content filetype-icon-wrapper tooltipped"
                               target="_blank"
                               data-position="bottom"
                               data-tooltip="Google Doc">
                                <img src="/images/profile/gdoc.svg" alt="">
                            </a>
                        </div>
                    </li>
                    <li class="collection-item">
                        <div class="left-align">
                            <a href="https://docs.google.com/presentation/d/1SgoE_5jEkiK7ev_eHiWYLNQPjmU4NdI5PwvJvyTzInA/edit?usp=sharing"
                               onclick="trackOutboundLink(event, 'https://docs.google.com/presentation/d/1SgoE_5jEkiK7ev_eHiWYLNQPjmU4NdI5PwvJvyTzInA/edit?usp=sharing'); return false;"
                               target="_blank"
                            >
                                {{{__ "Using the SOLE mobile app"}}}
                            </a>
                            <a href="https://docs.google.com/presentation/d/1SgoE_5jEkiK7ev_eHiWYLNQPjmU4NdI5PwvJvyTzInA/export/ppt"
                               onclick="trackOutboundLink(event, 'https://docs.google.com/presentation/d/1SgoE_5jEkiK7ev_eHiWYLNQPjmU4NdI5PwvJvyTzInA/export/ppt'); return false;"
                               class="secondary-content filetype-icon-wrapper tooltipped"
                               target="_blank"
                               data-position="bottom"
                               data-tooltip="PowerPoint">
                                <img src="/images/profile/ppt.svg" alt="">
                            </a>
                            <a href="https://docs.google.com/presentation/d/1SgoE_5jEkiK7ev_eHiWYLNQPjmU4NdI5PwvJvyTzInA/export/pdf"
                               onclick="trackOutboundLink(event, 'https://docs.google.com/presentation/d/1SgoE_5jEkiK7ev_eHiWYLNQPjmU4NdI5PwvJvyTzInA/export/pdf'); return false;"
                               class="secondary-content filetype-icon-wrapper tooltipped"
                               target="_blank"
                               data-position="bottom"
                               data-tooltip="PDF">
                                <img src="/images/profile/pdf.svg" alt="">
                            </a>
                            <a href="https://docs.google.com/presentation/d/1SgoE_5jEkiK7ev_eHiWYLNQPjmU4NdI5PwvJvyTzInA/edit?usp=sharing"
                               onclick="trackOutboundLink(event, 'https://docs.google.com/presentation/d/1SgoE_5jEkiK7ev_eHiWYLNQPjmU4NdI5PwvJvyTzInA/edit?usp=sharing'); return false;"
                               class="secondary-content filetype-icon-wrapper tooltipped"
                               target="_blank"
                               data-position="bottom"
                               data-tooltip="Google Doc">
                                <img src="/images/profile/gdoc.svg" alt="">
                            </a>

                            <a href="https://www.youtube.com/watch?v=c_bdz1yNsCc&list=PLA0HS2MK5Lwj1IkOfNV-adui6it2qrbg4"
                               onclick="trackOutboundLink(event, 'https://www.youtube.com/watch?v=c_bdz1yNsCc&list=PLA0HS2MK5Lwj1IkOfNV-adui6it2qrbg4'); return false;"
                               class="secondary-content filetype-icon-wrapper tooltipped"
                               target="_blank"
                               data-position="bottom"
                               data-tooltip="YouTube">
                                <img src="/images/profile/youtube.svg" alt="">
                            </a>
                        </div>
                    </li>
                    <li class="collection-item">
                        <div class="left-align" style="height: 32.4px;">
                            <a class="js-copylink" target="_blank"
                               href="https://app.startsole.org/register?r={{user.id}}">Signup for StartSOLE</a>
                            <a class="secondary-content waves-effect waves-light btn-small js-linkcopybtn">{{{__ "Copy
                                        Link"}}}</a>
                        </div>
                    </li>
                </ul>
                <p>{{{__ "Please remember to share any copied content with support@startsole.org so we
                            can learn from your experience."}}}</p>
                <a href="mailto:support@startsole.org" class="btn">{{{__ "Get Help"}}}</a>
            </div>
        </div>
    </div>
</div>