<header>
    <div class="navbar-fixed">
        <nav class="white z-depth-0">

            <a href="#" class="brand-logo right grey-text darken-4">
                <img class="hide-on-large-only hide-on-extra-large-only hide-on-small-and-down" src="/images/logos/logo.svg">
            </a>
            <a href="#" data-target="slide-out"
               class="sidenav-trigger"><i class="material-icons teal-text lighten-2">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a class="black-text">Logout</a></li>
            </ul>

        </nav>
    </div>


    <ul id="slide-out" class="sidenav sidenav-fixed">
        <li><div class="user-view">
            <div class="white center-align">
                <!--<img src="/images/office.jpg">-->
                <a href="/?sesh={{sesh}}"><img src="/images/logo.png"></a>
            </div>
            <!--<a href="#user"><img class="circle" src="/images/yuna.jpg"></a>-->
            <!--<a href="#name"><span class="white-text name">Justin Duffy</span></a>-->
            <!--<a href="#email"><span class="white-text email">South High Community School</span></a>-->
        </div></li>
        <li><div class="divider"></div></li>
        <li><a class="waves-effect waves-light btn" href="/sole-create?sesh={{sesh}}">Plan Lesson</a></li>
        <li><div class="divider"></div></li>
        <li><a class="waves-effect" href="/profile?sesh={{sesh}}"><i class="material-icons">account_circle</i>My Profile</a></li>
        <li><a class="waves-effect" href="/soles?sesh={{sesh}}"><i class="material-icons">format_list_bulleted</i>My SOLEs</a></li>
        <li><div class="divider"></div></li>
        <li><a class="waves-effect" href="/questions?sesh={{sesh}}"><i class="material-icons">help</i>Explore Questions</a></li>
        <li><a class="waves-effect" href="/questions/add?sesh={{sesh}}"><i class="material-icons">create</i>Add a Question</a></li>
        <li><div class="divider"></div></li>
        {{!-- <li><a class="waves-effect" href="/map"><i class="material-icons">public</i>Community Map</a></li> --}}
        <li><a class="waves-effect" href="/how?sesh={{sesh}}" ><i class="material-icons">record_voice_over</i>How to SOLE</a></li>
        <li><a class="waves-effect" href="/history?sesh={{sesh}}" ><i class="material-icons">history</i>History of StartSOLE</a></li>
        <li><a class="waves-effect" href="/resources?sesh={{sesh}}"><i class="material-icons">assignment</i>Teacher Resources<span class="new badge">4</span></a></li>
        <li><div class="divider"></div></li>
        <li><a class="waves-effect waves-light btn red hide-on-large-only hide-on-extra-large-only hide-on-small-and-down" href="/logout"><!--<i
        class="material-icons">exit_to_app</i>-->Logout</a></li>
        <li><div class="divider hide-on-large-only hide-on-extra-large-only hide-on-small-and-down"></div></li>

        <li>
            <div class="app-download-links">
                <a href="https://itunes.apple.com/us/app/startsole-self-organized-learning-environment/id1097411683?mt=8"><img src="/images/app.png">
                </a>
                <a href="https://play.google.com/store/apps/details?id=com.startsole.mobileapp&hl=en"><img src="/images/android.png">
                </a>
            </div>
        </li>
    </ul>

</header>
