    <div class="card-panel sole-card">
        <a href="/soles/{{id}}{{#ifEquals state "reflect"}}/reflect{{else ifEquals state
                "completed"}}{{else}}/edit{{/ifEquals}}?sesh={{sesh}}">
            <img src="/images/logos/sole-card-logo.jpg"
                 class="avatar-image hide-on-small-and-down">
        </a>
        <div class="question-text">
            <a href="/soles/{{id}}{{#ifEquals state "reflect"}}/reflect{{else ifEquals state
                    "completed"}}{{else}}/edit{{/ifEquals}}?sesh={{sesh}}"
               class="black-text">
                {{question.text}}
                {{lessonplan}}
            </a>
        </div>
    {{#if tag}}
        <p class="sole-tag">
            {{tag}}
        </p>
    {{/if}}
        <div class="sole-card-date">
        <span class="sole-day">
            {{planned_date.day}}
        </span>
            <span class="sole-month-year">
            {{planned_date.month_text}}
                <br>
                {{planned_date.year}}
        </span>
        </div>
    <div class="sole-action-buttons">
        <a href="/soles/{{id}}/download-plan?sesh={{sesh}}"
           class="waves-effect waves-light green btn"
           target="_blank">
            Download Plan
        </a>
        {{#unless completed}}
            <a class="waves-effect waves-light red btn"
               href="/soles/{{id}}/reflect?sesh={{sesh}}">
                Reflect
            </a>
        {{/unless}}
    </div>

    </div>
