<div class="row" id="standard-picker">
    <div class="col s12 m6">
        <label>{{{__ "Subject"}}}</label>
        <select id="subject" name="subject" class="browser-default standard-picker">
            <option value="" disabled selected>{{{__ "Filter by subject"}}}</option>
            <option label="{{{__ "All subjects"}}}" value="all" >{{{__ "All Subjects"}}}</option>
            <!--<option label="AmeriCorps" value="asn.d0000003">AmeriCorps</option>-->
            <option label="{{{__ "College Now"}}}" value="asn.d0000001">{{{__ "College Now"}}}</option>
            <!--<option label="Community Health Worker Certification" value="asn.d0000002">Community Health Worker Certification</option>-->
            <option label="{{{__ "Dance"}}}" value="asn.d2466234">{{{__ "Dance"}}}</option>
            <option label="{{{__ "Drama/Theatre"}}}" value="asn.d2466454">{{{__ "Drama/Theatre"}}}</option>
            <option label="{{{__ "English Language Arts (Common Core)"}}}" value="asn.d10003fc">{{{__ "English Language Arts (Common Core)"}}}</option>
            <option label="{{{__ "HRSA (ACT test)"}}}" value="asn.d0000004">{{{__ "HRSA (ACT test)"}}}</option>
            <option label="{{{__ "Mathematics (Common Core)"}}}" value="asn.d10003fb">{{{__ "Mathematics (Common Core)"}}}</option>
            <option label="{{{__ "Music"}}}" value="asn.d2482974">{{{__ "Music"}}}</option>
            <option label="{{{__ "Next Generation Science Standards"}}}" value="asn.d2454348">{{{__ "Next Generation Science Standards"}}}</option>
            <option label="{{{__ "Physical Education"}}}" value="asn.d2716034">{{{__ "Physical Education"}}}</option>
            <option label="{{{__ "Science (High School)"}}}" value="asn.d2692656">{{{__ "Science (High School)"}}}</option>
            <option label="{{{__ "Science (K-8)"}}}" value="asn.d2462762">{{{__ "Science (K-8)"}}}</option>
            <option label="{{{__ "Social Studies (High School)"}}}" value="asn.d2463176">{{{__ "Social Studies (High School)"}}}</option>
            <option label="{{{__ "Social Studies (K-8)"}}}" value="asn.d2462866">{{{__ "Social Studies (K-8)"}}}</option>
            <option label="{{{__ "Technology"}}}" value="asn.d2465259">{{{__ "Technology"}}}</option>
            <option label="{{{__ "Visual Arts"}}}" value="asn.d2483255">{{{__ "Visual Arts"}}}</option>
            <option label="{{{__ "World Languages"}}}" value="asn.d2483559">{{{__ "World Languages"}}}</option>
        </select>
    </div>
    <div class="col s12 m6">
        <label>{{{__ "Grade"}}} <span style="color: pink;" >{{{__ "(subject required)"}}}</span></label>
        <select id="grade" id="name" class="browser-default standard-picker" disabled>
            <option value=""></option>
        </select>
    </div>

    <div id="refine">
    </div>

</div>
