<style>
    #map {
        height: 600px;
    }
</style>

<div class="breadcrumb-wrapper">
    <a href="/?sesh={{sesh}}" class="breadcrumb">Home</a>
    <a class="breadcrumb" href="/admin?sesh={{sesh}}">Admin</a>
    <a class="breadcrumb">Approve/Reject {{sole.question}}</a>
</div>

<div class="row">
    <div class="col s12">
        <div class="card-panel">
            {{#if sole}}
                <div class="row">
                    <div class="col s12">
                        <h3>{{sole.question}}</h3>
                    </div>
                </div>

                <div class="row">
                    {{#each sole.observations}}
                        {{#if this.img}}
                            <div class="col s12 m4 l3 xl2">
                                <div class="materialbox-preview thumbnail">
                                    <img class="materialboxed responsive-img "
                                         src="{{ this.img }}"
                                         data-caption="{{ this.notes }}"
                                    >
                                </div>
                            </div>
                        {{/if}}
                    {{/each}}
                </div>

                <div class="row">
                    <div class="col s12 m6">
                        <p>Date: {{sole.plannedDate}}</p>
                        <p>Notes: {{sole.reflectionNotes}}</p>
                    </div>
                    <div class="col s12 m6">
                        <p>
                            <label>
                                <input type="checkbox"
                                       class="filled-in"
                                       {{#if sole.grouporganization}}checked="checked"{{/if}}
                                       disabled="disabled" />
                                <span>Students formed their own groups</span>
                            </label>
                        </p>
                        <p>
                            Engagement : {{eng}}
                        </p>
                    </div>

                </div>

            {{else}}
                <h2>No SOLE found with that ID</h2>
            {{/if}}
        </div>
    </div>
</div>

    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">{{sole.question}}</span>


                </div>
                <div class="card-action">
                    <!--<a href="/admin/browse-soles?sesh={{sesh}}">Browse All SOLEs</a>-->
                </div>
            </div>
        </div>
    </div>


