
<div class="row" style="padding-top:50px;">
    <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel">

            <div class="row center-align">
                <h2>{{{__ "Complete your profile" }}}</h2>
            </div>

          <form id="profile-update-form" action="/complete-profile" method="post" onkeypress="return event.keyCode != 13;" onsubmit="validateInputs(event)" >

            <div class="row">
                <div class="input-field col s6">
                    <input id="first_name"
                           name="firstName"
                           type="text"
                           class="validate"
                           {{#if profile.user.firstName}}value="{{profile.user.firstName}}"{{/if}}>
                    <label for="first_name">{{{__ "First Name" }}}</label>
                </div>
                <div class="input-field col s6">
                    <input id="last_name"
                           name="lastName"
                           type="text"
                           class="validate"
                           {{#if profile.user.lastName}}value="{{profile.user.lastName}}"{{/if}}>
                    <label for="last_name">{{{__ "Last Name" }}}</label>
                </div>
            </div>

            <div class="row">
              <div class="col s12"  style="padding-bottom:10px">

                <label for="schoolSearch">{{{__ "What's your school?"}}}</label>
                  <input
                         id="schoolSearch"
                         placeholder="{{{__ "Where will you SOLE?"}}}"
                         style="width:100%;" required>
                  <input type="hidden" id="schoolName" name="schoolName" value="">
                  <input type="hidden" id="schoolAddress" name="schoolAddress" value="">
                  <input type="hidden" id="schoolPlaceID" name="schoolPlaceID" value="">
                  <input type="hidden" id="schoolState" name="schoolState" value="">

              </div>
            </div>


            <div class="row">
                <div class="input-field col s12">
                    <select name="role" required>
                        {{#unless profile.user.role}}<option value="" disabled>{{{__ "Choose your option"}}}</option>{{/unless}}
                        <option value="user.role.teacher" {{#ifEquals profile.user.role "profile.user.role
                                .teacher"}}selected{{/ifEquals}}>{{{__ "Teacher"}}}</option>
                        <option value="user.role.preservice_teacher" {{#ifEquals profile.user.role "profile.user.role
                                .preservice_teacher"}}selected{{/ifEquals}}>{{{__ "Pre-service Teacher"}}}</option>
                        <option value="user.role.administrator" {{#ifEquals profile.user.role "profile.user.role
                                .administrator"}}selected{{/ifEquals}}>{{{__ "Administrator"}}}</option>
                        <option value="user.role.coach" {{#ifEquals profile.user.role "profile.user.role
                                .coach"}}selected{{/ifEquals}}>{{{__ "Coach"}}}</option>
                        <option value="user.role.out_of_school_educator" {{#ifEquals profile.user.role "profile.user.role
                                .out_of_school_educator"}}selected{{/ifEquals}}>{{{__ "Out of School Educator"}}}</option>
                        <option value="user.role.parent" {{#ifEquals profile.user.role "profile.user.role
                                .parent"}}selected{{/ifEquals}}>Parent</option>
                        <option value="user.role.other" {{#ifEquals profile.user.role "profile.user.role
                                .other"}}selected{{/ifEquals}}>{{{__ "Other"}}}</option>
                    </select>
                    <label>{{{__ "What's your primary role?"}}}</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <select multiple name="grades" id="grades">
                        {{#unless profile.user.grades}}<option value="" disabled>{{{__ "Choose your option"}}}</option>{{/unless}}
                        <option value="edu.pre-k"
                                {{#contains "edu.pre-k" profile.user.grades}}selected{{/contains}}
                        >{{{__ "Preschool"}}}</option>
                        <option value="edu.k" {{#contains "edu.k" profile.user.grades}}selected{{/contains}}
                        >{{{__ "Kindergarten"}}}</option>
                        <option value="edu.1" {{#contains "edu.1" profile.user.grades}}selected{{/contains}}
                        >{{{__ "First Grade"}}}</option>
                        <option value="edu.2" {{#contains "edu.2" profile.user.grades}}selected{{/contains}}
                        >{{{__ "Second Grade"}}}</option>
                        <option value="edu.3" {{#contains "edu.3" profile.user.grades}}selected{{/contains}}
                        >{{{__ "Third Grade"}}}</option>
                        <option value="edu.4" {{#contains "edu.4" profile.user.grades}}selected{{/contains}}
                        >{{{__ "Fourth Grade"}}}</option>
                        <option value="edu.5" {{#contains "edu.5" profile.user.grades}}selected{{/contains}}
                        >{{{__ "Fifth Grade"}}}</option>
                        <option value="edu.6" {{#contains "edu.6" profile.user.grades}}selected{{/contains}}
                        >{{{__ "Sixth Grade"}}}</option>
                        <option value="edu.7" {{#contains "edu.7" profile.user.grades}}selected{{/contains}}
                        >{{{__ "Seventh Grade"}}}</option>
                        <option value="edu.8" {{#contains "edu.8" profile.user.grades}}selected{{/contains}}
                        >{{{__ "Eighth Grade"}}}</option>
                        <option value="edu.9" {{#contains "edu.9" profile.user.grades}}selected{{/contains}}
                        >{{{__ "Ninth Grade"}}}</option>
                        <option value="edu.10" {{#contains "edu.10" profile.user.grades}}selected{{/contains}}
                        >{{{__ "Tenth Grade"}}}</option>
                        <option value="edu.11" {{#contains "edu.11" profile.user.grades}}selected{{/contains}}
                        >{{{__ "Eleventh Grade"}}}</option>
                        <option value="edu.12" {{#contains "edu.12" profile.user.grades}}selected{{/contains}}
                        >{{{__ "Twelfth Grade"}}}</option>
                    </select>
                    <label>{{{__ "What grade(s) do you teach?"}}}</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <select multiple name="subjects" id="subjects">
                        {{#unless profile.user.subjects}}<option value="" disabled>{{{__ "Choose your option"}}}</option>{{/unless}}
                        <option value="top.careereducation" {{#contains "top.careereducation" profile.user.subjects}}selected{{/contains}}>{{{__ "Career Education"}}}</option>
                        <option value="top.engineering" {{#contains "top.engineering" profile.user.subjects}}selected{{/contains}}>Engineering</option>
                        <option value="top.english" {{#contains "top.english" profile.user.subjects}}selected{{/contains}}>English</option>
                        <option value="top.englishlanguagedevelopment" {{#contains "top.englishlanguagedevelopment" profile.user.subjects}}selected{{/contains}}>{{{__ "English Language Development"}}}</option>
                        <option value="top.financialliteracy" {{#contains "top.financialliteracy" profile.user.subjects}}selected{{/contains}}>Financial Literacy</option>
                        <option value="top.health" {{#contains "top.health" profile.user.subjects}}selected{{/contains}}>{{{__ "Health"}}}</option>
                        <option value="top.libmedia-infolit" {{#contains "top.libmedia-infolit" profile.user.subjects}}selected{{/contains}}>{{{__ "Library Media / Information Literacy"}}}</option>
                        <option value="top.lifeskills" {{#contains "top.lifeskills" profile.user.subjects}}selected{{/contains}}>{{{__ "Life Skills"}}}</option>
                        <option value="top.math" {{#contains "top.math" profile.user.subjects}}selected{{/contains}}>{{{__ "Math"}}}</option>
                        <option value="top.physicaleducation" {{#contains "top.physicaleducation" profile.user.subjects}}selected{{/contains}}>{{{__ "Physical Education"}}}</option>
                        <option value="top.science" {{#contains "top.science" profile.user.subjects}}selected{{/contains}}>Science</option>
                        <option value="top.socialstudies" {{#contains "top.socialstudies" profile.user.subjects}}selected{{/contains}}>{{{__ "Social Studies"}}}</option>
                        <option value="top.technology" {{#contains "top.technology" profile.user.subjects}}selected{{/contains}}>{{{__ "Technology"}}}</option>
                        <option value="top.thearts" {{#contains "top.thearts" profile.user.subjects}}selected{{/contains}}>{{{__ "The Arts"}}}</option>
                        <option value="top.foreignlanguage" {{#contains "top.foreignlanguage" profile.user.subjects}}selected{{/contains}}>{{{__ "World Languages"}}}</option>
                    </select>
                    <label>{{{__ "What subject(s) do you teach?"}}}</label>
                </div>
            </div>
        <button type="submit" class="btn waves-effect waves-light" name="button">{{{__ "submit"}}}</button>
        </div>
      </form>

    </div>
</div>

<script type="text/javascript">
var school = {};
var myPlace = {};
//get state from google Places

function getStateCode (place) {
  var huh = "";
  place.address_components.forEach(function (component) {
    component.types.forEach(function(type){
      if (type == "administrative_area_level_1") {
        // console.log('component.short_name', component.short_name);
        huh = component.short_name;
      };
    })
  })
  return huh;
}

function initializeAutocomplete(){
  console.log("initializing google places autocomplete!");
  var input = document.getElementById('schoolSearch');
  // var options = {types: ['administrative_area1']};
  var options = {
    // bounds: defaultBounds,
    // regions: ['administrative_area1']
  };
    {{#if config.colombia }}
        options.componentRestrictions = {country: 'co'};
    {{/if}}
  var autocomplete = new google.maps.places.Autocomplete(input, options);


  autocomplete.addListener('place_changed', function() {
   var place = autocomplete.getPlace();
   myPlace = place;
   console.log(place);
   if (!place.geometry) {
     // User entered the name of a Place that was not suggested and
     // pressed the Enter key, or the Place Details request failed.
     var error = "'" + place.name + "' is not recognized by Google Places.";
     Materialize.toast(error, 3000);
     // school.badSchoolValue = true;
   }else{
     // school.badSchoolValue = false;
     document.getElementById("schoolPlaceID").value = place.place_id; //add the placeID to the form in the DOM so it gets submitted on POST
     document.getElementById("schoolAddress").value = place.formatted_address; //add the address to the form in the DOM so it gets submitted on POST
     document.getElementById("schoolName").value = place.name; ////add the schoolname to the form in the DOM so it gets submitted on POST

     document.getElementById("schoolState").value = getStateCode(place);

   }

  });

}

document.addEventListener("DOMContentLoaded", function(event) {
  initializeAutocomplete()
});

/*********** input validation check ********/
//check length of multiple select dropdown before submitting
var grades = [];
var subjects =[];

function validateInputs (event) {
  event.preventDefault();
  grades = M.FormSelect.getInstance(document.getElementById("grades")).getSelectedValues();
  subjects = M.FormSelect.getInstance(document.getElementById("subjects")).getSelectedValues();
  var school = {
    placeID: document.getElementById("schoolPlaceID").value,
    name: document.getElementById("schoolName").value,
    address: document.getElementById("schoolAddress").value,
    state:  document.getElementById("schoolState").value
  }


  if (school.placeID == "" || school.name == "" || school.address == "") {
    M.toast({html: '{{{__ "Please select a school or a place from the dropdown"}}}'})
      document.getElementById("schoolSearch").click()
  } else if (grades.length < 1) {
    //show user an error message
    M.toast({html: '{{{__ "Please select at least one grade"}}}'})
  } else if (subjects.length < 1) {
    //show user an error message
    M.toast({html: '{{{__ "Please select at least one subject"}}}'})
  } else {
    document.getElementById("profile-update-form").submit()
  }
}


</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_4aqJcZYOl-dHZdtZSht3rOolk8JzO3I&libraries=places"></script>

{{#if config.colombia }}
<script>
    document.cookie = 'language=es;path=/';
</script>
{{/if}}