<div class="breadcrumb-wrapper">
    <a href="/" class="breadcrumb">{{{__ "Home"}}}</a>
    <a class="breadcrumb">{{{__ "Dashboard"}}}</a>
</div>

<div class="row">
    <div class="col s12">
        <div class="card-panel">
            <ul class="tabs">
                <li class="tab">
                    <a href="#educators" class="active">{{{__ "Educators"}}}</a>
                </li>
                <li class="tab">
                    <a href="#soles">{{{__ "SOLEs"}}}</a>
                </li>
                <li class="tab">
                    <a href="#schools">{{{__ "Schools"}}}</a>
                </li>
            </ul>
            <div id="educators">
                <div class="row">
                    <div class="col s12">
                    {{>rings/dashboard-card-educators-growth}}
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m6">
                    {{>rings/dashboard-card-educators-by-grade}}
                    </div>
                    <div class="col s12 m6">
                        {{>rings/dashboard-card-educators-by-subject}}
                    </div>
                </div>
            </div>
            <div id="soles">
                <div class="row">
                    <div class="col s12">
                        {{>rings/dashboard-card-soles-growth}}
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 m6">
                        {{>rings/dashboard-card-soles-by-grade}}

                    </div>
                    <div class="col s12 m6">
                        {{>rings/dashboard-card-soles-by-subject}}
                    </div>
                </div>
             </div>
            <div id="schools">
                <div class="row">
                    <div class="col s12">
                        {{>rings/dashboard-card-table-of-schools}}
                    </div>
                </div>
             </div>
        </div>
    </div>
</div>
