<div class="breadcrumb-wrapper">
    <a href="/?sesh={{sesh}}" class="breadcrumb">Home</a>
    <a href="/?sesh={{sesh}}" class="breadcrumb">Dashboard</a>
    <a class="breadcrumb">Question Approval</a>
</div>




<div class="row">
    <div class="col s12">
        <div class="card-panel">
            {{#if questions}}
            <ul class="collection">
                    {{#each questions}}
                        <li class="collection-item avatar">
                            <i class="material-icons circle">help</i>
                            <!--<img src="images/yuna.jpg" alt="" class="circle">-->
                            <span class="title">{{text}}</span>
                            <p>Submitted: {{createdAt}}</p>
                            {{#if tags}}
                            <ul class="collapsible z-depth-0 tags-collapsible">
                                <li>
                                    <div class="collapsible-header">Tags</div>
                                    <div class="collapsible-body">
                                        {{#each tags}}
                                            <a class="chip tooltipped"
                                               data-position="bottom"
                                               data-tooltip="{{this}}"
                                               href="../questions/{{../id}}/delete-tag/{{@key}}?sesh={{../../sesh}}">
                                                {{this}}
                                                <i class="close material-icons">close</i>
                                            </a>
                                        {{/each}}
                                    </div>
                                </li>
                            </ul>
                            {{/if}}
                            <div class="secondary-content">
                                <a href="../questions/{{id}}/approve?sesh={{../sesh}}"><i
                                        class="material-icons">thumb_up</i></a>
                                <a href="../questions/{{id}}/reject?sesh={{../sesh}}"><i
                                        class="material-icons">thumb_down</i></a>
                            </div>
                        </li>

                    {{/each}}
            </ul>
                {{else}}
all set!
            {{/if}}
        </div>
    </div>
</div>
