<div class="breadcrumb-wrapper">
    <a href="/?sesh={{sesh}}" class="breadcrumb">Home</a>
    <a class="breadcrumb">Dashboard</a>
</div>

<div class="row">
    <div class="col s12">
        <div class="card-panel">
            <ul class="tabs">
                <li class="tab">
                    <a href="#educators" class="active">Educators</a>
                </li>
                <li class="tab">
                    <a href="#soles">SOLEs</a>
                </li>
                <!--<li class="tab">-->
                    <!--<a href="#schools">Schools</a>-->
                <!--</li>-->
            </ul>
            <div id="educators">
                <canvas id="educator-growth-chart"></canvas>
                <div class="row">
                    <div class="col s12 m6">
                        <div class="card">
                            <div class="card-content">
                                <span class="card-title">Educators By Grade</span>
                                <canvas id="educator-by-grade-chart"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <div class="card">
                            <div class="card-content">
                                <span class="card-title">Educators By Subject</span>
                                <canvas id="educator-by-subject-chart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="soles">
                <canvas id="soles-growth-chart"></canvas>
                <div class="row">
                    <div class="col s12 m6">
                        <div class="card">
                            <div class="card-content">
                                <span class="card-title">SOLEs By Grade</span>
                                <canvas id="soles-by-grade-chart"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <div class="card">
                            <div class="card-content">
                                <span class="card-title">SOLEs By Subject</span>
                                <canvas id="soles-by-subject-chart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
            <!--<div id="schools">-->

            <!--</div>-->

        </div>
    </div>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

<script>
    var educatorGrowthChartCanvas = document.getElementById('educator-growth-chart').getContext('2d');
    var educatorGrowthChart = new Chart(educatorGrowthChartCanvas, {
        // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: {
            labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
            datasets: [
                {
                    label: "New Users 2017",
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: [{{dashboard.userCountByMonth.[2017]}}],
                    fill: false,
                },
                {
                    label: "New Users 2018",
                    backgroundColor: 'rgb(47,166,154)',
                    borderColor: 'rgb(47,166,154)',
                    data: [{{dashboard.userCountByMonth.[2018]}}],
                    fill: false,
                }]
        },

        // Configuration options go here
        options: {}
    });

    var educatorByGradeChartCanvas = document.getElementById('educator-by-grade-chart').getContext('2d');
    var educatorByGradeData = {
        datasets: [{
            data: [{{dashboard.userCountByGradeBand}}],
            backgroundColor: ['#f44336','#673ab7','#03a9f4','#4caf50','#607d8b']
        }],

        // These labels appear in the legend and in the tooltips when hovering different arcs
        labels: [
            'Pre-K & Kindergarten',
            'Elementary',
            'Middle',
            'High School',
            'Other'
        ]
    };
    var educatorByGradeChart = new Chart(educatorByGradeChartCanvas, {
        type: 'doughnut',
        data : educatorByGradeData
    });
//    educatorByGradeChartCanvas.onclick = function(evt) {
//        console.log("canvas click!");
//        var activePoints = educatorByGradeChart.getElementsAtEvent(evt);
//        if (activePoints[0]) {
//            var chartData = activePoints[0]['_chart'].config.data;
//            var idx = activePoints[0]['_index'];
//
//            var label = chartData.labels[idx];
//            var value = chartData.datasets[0].data[idx];
//
//            var url = "http://example.com/?label=" + label + "&value=" + value;
//            console.log(url);
//            alert(url);
//        }
//    };

    var educatorBySubjectChartCanvas = document.getElementById('educator-by-subject-chart').getContext('2d');
    var educatorBySubjectData = {
        datasets: [{
            data: [{{dashboard.userCountBySubjectBand}}],
            backgroundColor: ['#f44336','#673ab7','#03a9f4','#4caf50','#607d8b']
        }],

        // These labels appear in the legend and in the tooltips when hovering different arcs
        labels: [
            'English',
            'Math',
            'Science',
            'Social Studies',
            'Other'
        ]
    };
    var educatorBySubjectChart = new Chart(educatorBySubjectChartCanvas, {
        // The type of chart we want to create
        type: 'doughnut',

        // The data for our dataset
        data : educatorBySubjectData,

        // Configuration options go here
        options: {}
    });

    var soleGrowthChartCanvas = document.getElementById('soles-growth-chart').getContext('2d');
    var soleGrowthChart = new Chart(soleGrowthChartCanvas, {
        // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: {
            labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
            datasets: [
                {
                    label: "SOLEs Created 2017",
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: [{{dashboard.soleCountByMonth.[2017]}}],
                    fill: false,
                },
                {
                    label: "SOLEs Created 2018",
                    backgroundColor: 'rgb(47,166,154)',
                    borderColor: 'rgb(47,166,154)',
                    data: [{{dashboard.soleCountByMonth.[2018]}}],
                    fill: false,
                }]
        },

        // Configuration options go here
        options: {}
    });

    var solesByGradeChartCanvas = document.getElementById('soles-by-grade-chart').getContext('2d');
    var solesByGradeData = {
        datasets: [{
            data: [{{dashboard.soleCountByGradeBand}}],
            backgroundColor: ['#f44336','#673ab7','#03a9f4','#4caf50','#607d8b']
        }],

        // These labels appear in the legend and in the tooltips when hovering different arcs
        labels: [
            'Pre-K & Kindergarten',
            'Elementary',
            'Middle',
            'High School',
            'Other'
        ]
    };
    var solesByGradeChart = new Chart(solesByGradeChartCanvas, {
        type: 'doughnut',
        data : solesByGradeData
    });

    var solesBySubjectChartCanvas = document.getElementById('soles-by-subject-chart').getContext('2d');
    var solesBySubjectData = {
        datasets: [{
            data: [{{dashboard.userCountBySubjectBand}}],
            backgroundColor: ['#f44336','#673ab7','#03a9f4','#4caf50','#607d8b']
        }],

        // These labels appear in the legend and in the tooltips when hovering different arcs
        labels: [
            'English',
            'Math',
            'Science',
            'Social Studies',
            'Other'
        ]
    };
    var solesBySubjectChart = new Chart(solesBySubjectChartCanvas, {
        // The type of chart we want to create
        type: 'doughnut',

        // The data for our dataset
        data : solesBySubjectData,

        // Configuration options go here
        options: {}
    });    
    
</script>

