<div class="row" style="padding-top:20px;">

	<div class="col s12 offset-m1 m10 offset-l3 l6">
		<div class="card-panel">
			<div class="row center-align">
                <img class="hide-on-small-only" src="/images/logos/logo.svg">
				<h5 style="margin-bottom: 1em;">Let's get started</h5>
                <a class="waves-effect waves-light btn-large" href="/sole-create">Plan A Lesson</a>
                <p>
                  Or you can <a href="/soles">check out your previous SOLE lessons</a> or <a href="/questions">explore some of our Big Questions</a> or <a href="/questions/add">add your own Big Question</a>.
                </p>
			</div>
		</div>
	</div>
</div>


{{!-- <h2>SOLEs</h2>
<h3>Upcoming</h3>
{{#if soles.upcoming }}
<ul>
{{#each soles.upcoming}}
  <li>{{text}} by {{author}}</li>
{{/each}}
</ul>
{{else}}
No upcoming SOLEs yet
{{/if}}

<h3>Completed</h3>
{{#if soles.completed }}
<ul>
{{#each soles.completed}}
  <li>{{text}} by {{author}}</li>
{{/each}}
</ul>
{{else}}
No completed SOLEs yet
{{/if}}

<hr>
--}}

<div class="row">
	<div class="col s12 offset-m1 m10 offset-l3 l6">
		<div class="card-panel">
			<div class="row center-align">
			<h3>My questions:</h3>
			<ul>
			{{#each questions.mine}}
				<li> <a href="/questions/{{id}}">{{text}}</a> </li>
			{{/each}}
			</ul>

			<h3>My favorite questions:</h3>
			<ul>
			{{#each questions.favorites}}
				<li> + <a href="/questions/{{id}}">{{text}}</a></li>
			{{/each}}
			</ul>

			</div>
		</div>
	</div>
</div>
