{{!-- <strong>Home</strong><br> --}}

<h1>Welcome to StartSOLE2!</h1>


<h2>SOLEs</h2>
<h3>Upcoming</h3>
{{#if soles.upcoming }}
<ul>
{{#each soles.upcoming}}
  <li>{{text}} by {{author}}</li>
{{/each}}
</ul>
{{else}}
No upcoming SOLEs yet
{{/if}}

<h3>Completed</h3>
{{#if soles.completed }}
<ul>
{{#each soles.completed}}
  <li>{{text}} by {{author}}</li>
{{/each}}
</ul>
{{else}}
No completed SOLEs yet
{{/if}}

<hr>

<h2>Questions</h2>
<h3>My questions:</h3>
<ul>
{{#each questions.mine}}
  <li>{{text}}</li>
{{/each}}
</ul>

<h3>My favorite questions:</h3>
<ul>
{{#each questions.favorites}}
  <li>{{text}}</li>
{{/each}}
</ul>
