<div class="row" style="padding-top:20px;">

    <div class="col s12 offset-m1 m10 offset-l3 l6">

        <div class="card">
            <div class="card-content center-align">
                <img class="hide-on-small-only" src="/images/logos/logo.svg">
                <h5 style="margin-bottom: 1em;">Let's get started</h5>
                <a class="waves-effect waves-light btn-large" href="/sole-create?sesh={{sesh}}">Plan A Lesson</a>
                <br><br>
            </div>
            <div class="card-action center-align">
                <a href="/soles?sesh={{sesh}}">View SOLEs</a>
                <a href="/questions?sesh={{sesh}}">Explore Questions</a>
             </div>
        </div>

    </div>
</div>


<div class="row">
{{#if roleData.isAdmin}}
    <div class="col s12 m6">
    {{else}}
    <div class="col s12 offset-m1 m10 offset-l3 l6">
{{/if}}

    <div class="card">

            <div class="card-title center-align" style="padding:5px">
                Big Questions
            </div>

        <div class="card-tabs">
            <ul class="tabs tabs-fixed-width" style="padding:0px 2%">
                <li class="tab"><a href="#mine">Mine</a></li>
                <li class="tab"><a href="#favorites">Favorites</a></li>
            </ul>
        </div>
        <div class="card-content">
            <div id="mine">
                <ul class="collection">
                    {{#if questions.mine}}
                    {{#each questions.mine}}
                        <li class="collection-item"> <a href="/questions/{{id}}?sesh={{../sesh}}">{{text}}</a></li>
                    {{/each}}
                    {{else}}
                        <li class="collection-item">no questions yetq</li>
                    {{/if}}
                </ul>
            </div>
            <div id="favorites">
                <ul class="collection">
                    {{#each questions.favorites}}
                        <li class="collection-item"> <a href="/questions/{{id}}?sesh={{../sesh}}">{{text}}</a></li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>



		<!--<div class="card-panel">-->
			<!--<div class="row center-align">-->
			<!--<h3>My questions:</h3>-->
			<!--<ul>-->
			<!--{{#each questions.mine}}-->
				<!--<li> <a href="/questions/{{id}}?sesh={{../sesh}}">{{text}}</a> </li>-->
			<!--{{/each}}-->
			<!--</ul>-->

			<!--<h3>My favorite questions:</h3>-->
			<!--<ul>-->
			<!--{{#each questions.favorites}}-->
				<!--<li> + <a href="/questions/{{id}}?sesh={{sesh}}">{{text}}</a></li>-->
			<!--{{/each}}-->
			<!--</ul>-->

			<!--</div>-->
		<!--</div>-->
	</div>
    {{#if roleData.isAdmin}}
        <div class="col s12 m6">
            <div class="card-panel">
                <div class="row center-align">
                    <h3>Administration</h3>
                    <a href="/dashboard/question-approval?sesh={{sesh}}" class="waves-effect waves-light btn">Question Approval</a>
                    <br><br>
                    <a href="/dashboard?sesh={{sesh}}" class="waves-effect waves-light btn">Dashboard</a>
                    <!--<a href="/dashboard/sole-approval?sesh={{sesh}}" class="waves-effect waves-light btn">SOLE-->
                        <!--Approval</a>-->
                </div>
            </div>
        </div>
    {{/if}}
</div>
