<div class="row" style="padding-top:50px;">
    <div class="col s12 offset-m2 m8 offset-l3 l6">
        <div class="card-panel">
            <div class="row center-align">
                {{#if ring.logo}}
                    <div class="col s8 offset-s2">
                        <img class="responsive-img" src="/images/logos/{{ring.logo}}" height="165" alt="{{ring.fullName}}">
                    </div>
                {{else}}
                    <video width="165" height="165" autoplay muted>
                        <source src="/images/logos/animated-logo-small.webm" type="video/webm">
                        <source src="/images/logos/animated-logo-small.mp4" type="video/mp4">
                    </video>
                {{/if}}
            </div>
            <div class="row">
              <div class="col s12 l6 center">
                  <img src="/images/facebook-login-button.png" id="fb-login" onmouseover="this.src='/images/facebook-login-button-hover.png'" onmouseout="this.src='/images/facebook-login-button.png'"  />
              </div>
              <div class="col s12 l6 center">
                  <div class="g-signin2"
                       data-onsuccess="onGoogleSignIn"
                       data-theme="dark"
                       data-width="200"
                       data-height="50"
                       data-longtitle="true"></div>
              </div>
            </div>
            <form id="login-form" action="/login" method="post">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">email</i>
                        <input id="email" type="email" name="email" class="validate" value="{{email}}">
                        <label for="email">{{{__ "Email"}}}</label>
                        <span class="helper-text" data-error="{{{__ "invalid email"}}}"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">security</i>
                        <input id="password" name="password" type="password" class="validate">
                        <label for="password">{{{__ "Password"}}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <div class="red-text" id="error"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 center">
                        <button type="submit" class="signin-db btn red waves-effect waves-light" id="login" onclick="function (e){e.preventDefault()}">Log In</button>
                    </div>
                </div>
                <div class="row">
                    <div class="center col s12">

                        {{#if ring.slug}}
                            {{{__ "Need an account?"}}} <a href="/{{ring.slug}}/register">{{{__ "Sign up here."}}}</a>
                        {{else}}
                            {{{__ "Need an account?"}}} <a href="/register">{{{__ "Sign up here."}}}</a>
                        {{/if}}

                    </div>
                    <div class="center col s12">
                        <br>
                        <a href="#password-reset-modal" class="modal-trigger">
                            {{{__ "Help! I forgot my password."}}}
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal" id="password-reset-modal">
    <div class="modal-content">
        <h4>{{{__ "Reset Password"}}}</h4>
        <p>{{{__ "Enter your email below and we'll send you a link to reset your password."}}}</p>
        <div class="row">
            <div class="input-field col s12 m6 offset-m3">
                <input type="email" class="validate" id="password-reset-email">
                <label for="password-reset-email">
                    {{{__ "Email"}}}
                </label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-red btn-flat">
            {{{__ "Cancel"}}}
        </a>
        <a class="modal-action modal-close waves-effect waves-green btn-flat" onclick="resetPassword()">
            {{{__ "Send Reset Email"}}}
        </a>
    </div>
</div>

<form id="login-with-session" action="/login" method="get">
  <input type="hidden" name="originalUrl" id="originalUrl" value="{{originalUrl}}">
</form>


<!-- Modal for iOS download -->
<div id="app-download-modal" class="modal bottom-sheet">
    <div class="modal-content">
        <div class="row center-align">
            <h5>{{{__ "Try Our App!"}}}</h5>
        </div>
        <div class="row center-align">
            <a href="https://itunes.apple.com/in/app/startsole-self-organized-learning-environment/id1097411683"  target="_blank">
                <img src="/images/logos/app-store-ios.png" class="img-responsive" alt="iTunes Download">
            </a>
        </div>

    </div>
    <div class="modal-footer">
        <a class="modal-close waves-effect waves-green btn-flat">{{{__ "No Thanks"}}}</a>
    </div>
</div>