<link href="/css/admin-materialize.min.css" rel="stylesheet">

<div class="container">
    <div class="row">
        <div class="col s12 m8 offset-m2">

            <div class="card card-login">
                <div class="card-login-splash hide-on-med-and-down">
                    {{#if ring.logo}}
                        <img class="responsive-img" src="/images/logos/{{ring.logo}}" height="165" alt="{{ring.fullName}}" style="padding: 10%">
                    {{else}}
                        <video width="80%" autoplay muted>
                            <source src="/images/logos/animated-logo-small.webm" type="video/webm">
                            <source src="/images/logos/animated-logo-small.mp4" type="video/mp4">
                        </video>
                    {{/if}}
                </div>
                <div class="card-content">
                    <span class="card-title">{{{__ "Log In"}}}</span>
                    <form id="login-form" action="/login" method="post">
                        <div class="input-field">
                            <input id="email" type="email" name="email" class="validate" value="{{email}}">
                            <label for="email">{{{__ "Email"}}}</label>
                            <span class="helper-text" data-error="{{{__ "invalid email"}}}"></span>
                        </div>
                        <div class="input-field">
                            <input id="password" name="password" type="password" class="validate">
                            <label for="password">{{{__ "Password"}}}</label>
                        </div>

                        <div class="row center">
                            <div class="col s12">
                        <a href="#password-reset-modal" class="modal-trigger">
                            {{{__ "Help! I forgot my password."}}}
                        </a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s12">
                                <div class="red-text" id="error"></div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s12">
                                <input class="btn" type="submit" value="{{{__ "Log In"}}} ⇨" style="width: 100%;">
                            </div>
                            <div class="col s12 center">
                                <a class="waves-effect waves-teal" href="{{#if ring.slug}}/{{ring.slug}}{{/if}}/register">{{{__ "Need an account?"}}}</a>
                            </div>
                        </div>

                        <hr>

                        <div class="center">
                            <div class="g-signin2"
                                 data-onsuccess="onGoogleSignIn"
                                 data-theme="dark"
                                 data-width="175"
                                 data-height="40"
                                 data-longtitle="true"></div>
                            <div style="color: #9e9e9e; margin: 10px; font-size:.75em;">Looking for <a href="/facebook-login">the facebook login</a>?</div>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>

</div>


<div class="modal" id="password-reset-modal">
    <div class="modal-content">
        <h4>{{{__ "Reset Password"}}}</h4>
        <p>{{{__ "Enter your email below and we'll send you a link to reset your password."}}}</p>
        <div class="row">
            <div class="input-field col s12 m6 offset-m3">
                <input type="email" class="validate" id="password-reset-email">
                <label for="password-reset-email">
                    {{{__ "Email"}}}
                </label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-red btn-flat">
            {{{__ "Cancel"}}}
        </a>
        <a class="modal-action modal-close waves-effect waves-green btn-flat" onclick="resetPassword()">
            {{{__ "Send Reset Email"}}}
        </a>
    </div>
</div>

<form id="login-with-session" action="/login" method="get">
    <input type="hidden" name="originalUrl" id="originalUrl" value="{{originalUrl}}">
</form>

<!-- Modal for iOS download -->
<div id="app-download-modal" class="modal bottom-sheet">
    <div class="modal-content">
        <div class="row center-align">
            <h5>{{{__ "Try Our App!"}}}</h5>
        </div>
        <div class="row center-align">
            <a href="https://itunes.apple.com/in/app/startsole-self-organized-learning-environment/id1097411683"  target="_blank">
                <img src="/images/logos/app-store-ios.png" class="img-responsive" alt="iTunes Download">
            </a>
        </div>

    </div>
    <div class="modal-footer">
        <a class="modal-close waves-effect waves-green btn-flat">{{{__ "No Thanks"}}}</a>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        Parse.initialize(soleConfig.appId);
        Parse.serverURL = soleConfig.serverUrl;
        Parse.User.logOut();
        document.cookie = "sessionToken=; Max-Age=0";//remove the sessionToken from the cookie
        document.cookie = "language=; Max-Age=0";//remove the language from the cookie

        localStorage.clear();
    });
</script>
