<div class="breadcrumb-wrapper">
    <a href="/?sesh={{sesh}}" class="breadcrumb">Home</a>
    <a class="breadcrumb">My Questions</a>
</div>


<div class="row">
    <div class="col s12">
        <div class="card-panel">
            <div class="row">
                <div class="col s12">
                    <ul class="tabs">
                        <li class="tab col s6"><a href="#mine">Mine</a></li>
                        <li class="tab col s6"><a class={{fav}} href="#favorites">Favorites</a></li>
                    </ul>
                </div>
                <div class="col s12">
                    <div id="mine">
                        {{#if questions.mine}}
                            <ul class="collection">
                                {{#each questions.mine}}
                                    <div class="card blue lighten-1 grid-item masonry-card">
                                        <div class="card-content center-align">
                                            <a href="/questions/{{id}}?sesh={{../sesh}}">
                                                <div class="card-title white-text">{{text}}</div>
                                            </a>
                                        </div>
                                    </div>
                                {{/each}}
                            </ul>
                        {{else}}
                            <div class="row"></div>
                            <div class="row center-align">
                                <p>No questions yet!</p>
                                <a href="/questions/add?sesh={{sesh}}" class="waves-effect waves-light btn">Add A Question</a>
                            </div>
                        {{/if}}
                    </div>

                    <div id="favorites">
                            {{#if questions.favorites}}
                            <ul class="collection">
                                {{#each questions.favorites}}
                                    <div class="card blue lighten-1 grid-item masonry-card">
                                        <div class="card-content center-align">
                                            <a href="/questions/{{id}}?sesh={{../sesh}}">
                                                <div class="card-title white-text">{{text}}</div>
                                            </a>
                                        </div>
                                    </div>
                                {{/each}}
                            </ul>
                            {{else}}
                                <div class="row"></div>
                                <div class="row center-align">
                                    <p>Nothing here yet!</p>
                                    <a href="/questions?sesh={{sesh}}" class="waves-effect waves-light btn">Explore Questions</a>
                                </div>
                            {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/js/masonry-layout/dist/masonry.pkgd.min.js"></script>
<script type="text/javascript" src="/js/masonry.pkgd.min.js"></script>
<script>
    $('.collection').masonry({
        // options
        itemSelector: '.masonry-card'
    });
</script>