<div class="breadcrumb-wrapper">
    <a href="/" class="breadcrumb">{{{__ "Home"}}}</a>
    <a class="breadcrumb">{{{__ "My Profile"}}}</a>
</div>

<div class="row">
    <div class="col s12">

        <div class="card {{#if user.thumb._url}}profile-header-card{{/if}}">
            <div class="card-image waves-effect waves-block waves-light profile-bg-image">
            </div>
            {{#if user.thumb._url}}
                <img src="{{user.thumb._url}}" alt="profile-picture" class="circle responsive-img profile-thumb">
            {{/if}}
            <div class="card-content">

                {{#if roleData.isAmbassador}}
                    <img src="/images/profile/ambassador_badge.png"
                         class="profile-badge-image hide-on-med-and-down"
                         alt="ambassador badge">
                {{/if}}

                {{#if roleData.isTrainer}}
                    <img src="/images/profile/trainer_badge.png"
                         class="profile-badge-image tooltipped hide-on-med-and-down"
                         alt="trainer badge"
                         data-position="bottom"
                         data-tooltip="Trainer">
                {{/if}}
                {{#if user.name}}
                    <span class="card-title grey-text text-darken-4">{{user.name}}</span>
                {{else}}
                    <span class="card-title grey-text text-darken-4">{{user.firstName}} {{user.lastName}}</span>
                {{/if}}

                <p>{{{__ "Member since"}}} {{user.createdAt}}</p>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col s12 m10 offset-m1 l6">
        <div class="card-panel">
            {{#if user}}
                <div class="row">
                    <div class="col s12 center-align">
                        <h4>{{{__ "About Me"}}}</h4>
                        <hr>
                    </div>
                </div>

            <form id="profile-update-form" action="/profile" method="post">
                <!--role-->
                <div class="row">
                    <div class="input-field col s12 m10 offset-m1">
                        <select name="role">
                            {{#unless user.role}}<option value="" disabled>{{{__ "Choose your option"}}}</option>{{/unless}}
                            <option value="user.role.teacher"
                                    {{#ifEquals user.role "user.role.teacher"}}selected{{/ifEquals}}
                            >{{{__ "Teacher"}}}</option>
                            <option value="user.role.preservice_teacher"
                                    {{#ifEquals user.role "user.role.preservice_teacher"}}selected{{/ifEquals}}
                            >{{{__ "Pre"}}}-service Teacher</option>
                            <option value="user.role.administrator"
                                    {{#ifEquals user.role "user.role.administrator"}}selected{{/ifEquals}}
                            >{{{__ "Administrator"}}}</option>
                            <option value="user.role.coach"
                                    {{#ifEquals user.role "user.role.coach"}}selected{{/ifEquals}}
                            >{{{__ "Coach"}}}</option>
                            <option value="user.role.out_of_school_educator"
                                    {{#ifEquals user.role "user.role.out_of_school_educator"}}selected{{/ifEquals}}
                            >{{{__ "Out of School Educator"}}}</option>
                            <option value="user.role.parent"
                                    {{#ifEquals user.role "user.role.parent"}}selected{{/ifEquals}}
                            >{{{__ "Parent"}}}</option>
                            <option value="user.role.other"
                                    {{#ifEquals user.role "user.role.other"}}selected{{/ifEquals}}
                            >{{{__ "Other"}}}</option>
                        </select>
                        <label>{{{__ "What's your primary role?"}}}</label>
                    </div>
                </div>
                <!--grades-->
                <div class="row">
                    <div class="input-field col s12 m10 offset-m1">
                        <select multiple name="grades">
                            {{#unless user.grades}}<option value="" disabled>{{{__ "Choose your option"}}}</option>{{/unless}}
                            <option value="edu.pre-k"
                                    {{#contains "edu.pre-k" user.grades}}selected{{/contains}}
                            >{{{__ "Preschool"}}}</option>
                            <option value="edu.k" {{#contains "edu.k" user.grades}}selected{{/contains}}
                            >{{{__ "Kindergarten"}}}</option>
                            <option value="edu.1" {{#contains "edu.1" user.grades}}selected{{/contains}}
                            >{{{__ "First Grade"}}}</option>
                            <option value="edu.2" {{#contains "edu.2" user.grades}}selected{{/contains}}
                            >{{{__ "Second Grade"}}}</option>
                            <option value="edu.3" {{#contains "edu.3" user.grades}}selected{{/contains}}
                            >{{{__ "Third Grade"}}}</option>
                            <option value="edu.4" {{#contains "edu.4" user.grades}}selected{{/contains}}
                            >{{{__ "Fourth Grade"}}}</option>
                            <option value="edu.5" {{#contains "edu.5" user.grades}}selected{{/contains}}
                            >{{{__ "Fifth Grade"}}}</option>
                            <option value="edu.6" {{#contains "edu.6" user.grades}}selected{{/contains}}
                            >{{{__ "Sixth Grade"}}}</option>
                            <option value="edu.7" {{#contains "edu.7" user.grades}}selected{{/contains}}
                            >{{{__ "Seventh Grade"}}}</option>
                            <option value="edu.8" {{#contains "edu.8" user.grades}}selected{{/contains}}
                            >{{{__ "Eighth Grade"}}}</option>
                            <option value="edu.9" {{#contains "edu.9" user.grades}}selected{{/contains}}
                            >{{{__ "Ninth Grade"}}}</option>
                            <option value="edu.10" {{#contains "edu.10" user.grades}}selected{{/contains}}
                            >{{{__ "Tenth Grade"}}}</option>
                            <option value="edu.11" {{#contains "edu.11" user.grades}}selected{{/contains}}
                            >{{{__ "Eleventh Grade"}}}</option>
                            <option value="edu.12" {{#contains "edu.12" user.grades}}selected{{/contains}}
                            >{{{__ "Twelfth Grade"}}}</option>
                        </select>
                        <label>{{{__ "What grade(s) do you teach?"}}}</label>
                    </div>
                </div>
                <!--subjects-->
                <div class="row">
                    <div class="input-field col s12 m10 offset-m1">
                        <select multiple name="subjects">
                            {{#unless user.subjects}}<option value="" disabled>{{{__ "Choose your option"}}}</option>{{/unless}}
                            <option value="top.careereducation" {{#contains "top.careereducation" user.subjects}}selected{{/contains}}>{{{__ "Career Education"}}}</option>
                            <option value="top.engineering" {{#contains "top.engineering" user.subjects}}selected{{/contains}}>{{{__ "Engineering"}}}</option>
                            <option value="top.english" {{#contains "top.english" user.subjects}}selected{{/contains}}>{{{__ "English"}}}</option>
                            <option value="top.englishlanguagedevelopment" {{#contains "top.englishlanguagedevelopment" user.subjects}}selected{{/contains}}>{{{__ "English Language Development"}}}</option>
                            <option value="top.financialliteracy" {{#contains "top.financialliteracy" user.subjects}}selected{{/contains}}>{{{__ "Financial Literacy"}}}</option>
                            <option value="top.health" {{#contains "top.health" user.subjects}}selected{{/contains}}>Health</option>
                            <option value="top.libmedia-infolit" {{#contains "top.libmedia-infolit" user.subjects}}selected{{/contains}}>{{{__ "Library Media / Information Literacy"}}}</option>
                            <option value="top.lifeskills" {{#contains "top.lifeskills" user.subjects}}selected{{/contains}}>{{{__ "Life Skills"}}}</option>
                            <option value="top.math" {{#contains "top.math" user.subjects}}selected{{/contains}}>{{{__ "Math"}}}</option>
                            <option value="top.physicaleducation" {{#contains "top.physicaleducation" user.subjects}}selected{{/contains}}>{{{__ "Physical Education"}}}</option>
                            <option value="top.science" {{#contains "top.science" user.subjects}}selected{{/contains}}>{{{__ "Science"}}}</option>
                            <option value="top.socialstudies" {{#contains "top.socialstudies" user.subjects}}selected{{/contains}}>{{{__ "Social Studies"}}}</option>
                            <option value="top.technology" {{#contains "top.technology" user.subjects}}selected{{/contains}}>{{{__ "Technology"}}}</option>
                            <option value="top.thearts" {{#contains "top.thearts" user.subjects}}selected{{/contains}}>{{{__ "The Arts"}}}</option>
                            <option value="top.foreignlanguage" {{#contains "top.foreignlanguage" user.subjects}}selected{{/contains}}>{{{__ "World Languages"}}}</option>
                        </select>
                        <label>{{{__ "What subject(s) do you teach?"}}}</label>
                    </div>
                </div>

                    <div class="row center-align">
                        <button class="btn waves-effect waves-light"
                                type="submit"
                                id="update-profile-button"
                                name="action">
                            {{{__ "Save"}}}
                        </button>
                    </div>
                </form>

            {{else}}
                {{{__ "Hmm.... looks like something went wrong."}}}
            {{/if}}
        </div>
    </div>
    <div class="col s12 m10 offset-m1 l6">
        <div class="card-panel">
            <div class="row">
                <div class="col s12 center-align">
                    <h4>{{{__ "My CEUs"}}}</h4>
                    <hr>

                    <div class="progress big-bar">
                        <div class="determinate" style="width: {{user.points_progress}}%"></div>
                    </div>

                    {{#if user.points}}
                        <p>{{user.points}}{{{__ "/2000 points to your next CEU"}}}</p>
                    {{else}}
                        {{#if user.ceus}}
                            <p>{{{__ "/2000 points to your next CEU"}}}</p>
                        {{else}}
                            <p><em>{{{__ "No points yet."}}} <a href="/soles/plan">{{{__ "Create your first SOLE lesson plan and get points."}}}</a></em></p>
                        {{/if}}
                    {{/if}}

                    <ul class="collection">
                        {{#if user.ceus}}
                            {{#each user.ceus}}
                                <li class="collection-item">
                                    <div>{{this.date}}
                                        <a href="{{this.url}}" class="secondary-content" target="_blank">
                                            <i class="material-icons">save_alt</i>
                                        </a>
                                    </div>
                                </li>
                            {{/each}}
                        {{else}}
                            <li class="collection-item">
                                <a href="/soles/plan">
                                    {{{__ "No CEUs ... yet! Create your first SOLE lesson plan & get points."}}}
                                </a>
                            </li>
                        {{/if}}

                    </ul>

                </div>
            </div>
        </div>
    </div>

    {{#if roleData.isAmbassador}}
        <div class="col s12 m10 offset-m1 l6">
            <div class="card-panel">
                <div class="row">
                    <div class="col s12 center-align">
                        <h4>{{{__ "Ambassadors"}}}</h4>
                        <hr>

                        <ul class="collection">
                            <li class="collection-item">

                                <div class="left-align">
                                    <a class="modal-trigger"
                                       href="#email-signature-modal"
                                    >{{{__ "Setup Email Signature"}}}</a>
                                </div>
                            </li>
                            <li class="collection-item">

                                <div class="left-align" style="height: 32.4px;">
                                    <a target="_blank"
                                       href="https://drive.google.com/drive/folders/1Jn-SNogqEJ6-byOCk0xsG4EQryXfpVHQ?usp=sharing"
                                       onclick="trackOutboundLink(event, 'https://drive.google.com/drive/folders/1Jn-SNogqEJ6-byOCk0xsG4EQryXfpVHQ?usp=sharing'); return false;"
                                    >Meeting Materials</a>
                                    <a class="secondary-content waves-effect waves-light btn-small"
                                       target="_blank"
                                       href="https://drive.google.com/drive/folders/1Jn-SNogqEJ6-byOCk0xsG4EQryXfpVHQ?usp=sharing"
                                       onclick="trackOutboundLink(event, 'https://drive.google.com/drive/folders/1Jn-SNogqEJ6-byOCk0xsG4EQryXfpVHQ?usp=sharing'); return false;"
                                       r>View</a>

                                </div>
                            </li>
                            <li class="collection-item">
                                <div class="left-align" style="height: 32.4px;">
                                    <a href="/admin/events?sesh={{sesh}}">{{{__ "Conferences/Events"}}}</a>
                                    <a class="secondary-content waves-effect waves-light btn-small"
                                       href="/admin/events?sesh={{sesh}}">{{{__ "Browse"}}}</a>

                                </div>
                            </li>
                            <li class="collection-item">
                                <div class="left-align" style="height: 32.4px;">

                                    <a target="_blank"
                                       href="https://get.slack.help/hc/en-us/categories/360000049043-Getting-Started">Getting
                                        Started</a>
                                    <a class="secondary-content waves-effect waves-light btn-small" target="_blank"
                                       href="https://startsoleorg.slack.com/">Slack</a>

                                </div>
                            </li>
                            <li class="collection-item">
                                <div class="left-align" style="height: 32.4px;">

                                    <a class="js-copylink" target="_blank"
                                       href="https://app.startsole.org/register?r={{user.id}}">{{{__ "Signup for StartSOLE"}}}</a>
                                    <a class="secondary-content waves-effect waves-light btn-small js-linkcopybtn">{{{__ "Copy
                                        Link"}}}</a>
                                </div>
                            </li>
                        </ul>
                        <a href="mailto:support@startsole.org" class="btn">{{{__ "Email Us"}}}</a>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}
    {{#if roleData.isTrainer}}
        <div class="col s12 m10 offset-m1 l6">
            <div class="card-panel">
                <div class="row">
                    <div class="col s12 center-align">
                        <h4>{{{__ "Trainer Materials"}}}</h4>
                        <hr>

                        <ul class="collection">
                            <li class="collection-item">
                                <div class="left-align">
                                    <a href="https://docs.google.com/document/d/1G2ErNUcRkyHsFP6srtEqlT6q9CnyMNegDOR2OKa3chI/edit?usp=sharing"
                                       onclick="trackOutboundLink(event, 'https://docs.google.com/document/d/1G2ErNUcRkyHsFP6srtEqlT6q9CnyMNegDOR2OKa3chI/edit?usp=sharing'); return false;"
                                       target="_blank"
                                    >
                                        {{{__ "SOLE 101 Training Manual"}}}
                                    </a>
                                    <a href="https://docs.google.com/document/d/1G2ErNUcRkyHsFP6srtEqlT6q9CnyMNegDOR2OKa3chI/export?format=doc"
                                       onclick="trackOutboundLink(event, 'https://docs.google.com/document/d/1G2ErNUcRkyHsFP6srtEqlT6q9CnyMNegDOR2OKa3chI/export?format=doc'); return false;"
                                       class="secondary-content filetype-icon-wrapper tooltipped"
                                       target="_blank"
                                       data-position="bottom"
                                       data-tooltip="Microsoft Word">
                                        <img src="/images/profile/doc.svg" alt="">
                                    </a>
                                    <a href="https://docs.google.com/document/d/1G2ErNUcRkyHsFP6srtEqlT6q9CnyMNegDOR2OKa3chI/export?format=pdf"
                                       onclick="trackOutboundLink(event, 'https://docs.google.com/document/d/1G2ErNUcRkyHsFP6srtEqlT6q9CnyMNegDOR2OKa3chI/export?format=pdf'); return false;"
                                       class="secondary-content filetype-icon-wrapper tooltipped"
                                       target="_blank"
                                       data-position="bottom"
                                       data-tooltip="PDF">
                                        <img src="/images/profile/pdf.svg" alt="">
                                    </a>
                                    <a href="https://docs.google.com/document/d/1G2ErNUcRkyHsFP6srtEqlT6q9CnyMNegDOR2OKa3chI/edit?usp=sharing"
                                       onclick="trackOutboundLink(event, 'https://docs.google.com/document/d/1G2ErNUcRkyHsFP6srtEqlT6q9CnyMNegDOR2OKa3chI/edit?usp=sharing'); return false;"
                                       class="secondary-content filetype-icon-wrapper tooltipped"
                                       target="_blank"
                                       data-position="bottom"
                                       data-tooltip="Google Doc">
                                        <img src="/images/profile/gdoc.svg" alt="">
                                    </a>
                                    <!--<a href="https://docs.google.com/document/d/1G2ErNUcRkyHsFP6srtEqlT6q9CnyMNegDOR2OKa3chI/copy"-->
                                </div>
                            </li>
                            <li class="collection-item">
                                <div class="left-align">
                                    <a href="https://docs.google.com/presentation/d/1ou5fV2BjTT69-H_rQPimMWGcZS1ucZOvh1drzjGqNP4/edit?usp=sharing"
                                       onclick="trackOutboundLink(event, 'https://docs.google.com/presentation/d/1ou5fV2BjTT69-H_rQPimMWGcZS1ucZOvh1drzjGqNP4/edit?usp=sharing'); return false;"
                                       target="_blank"
                                    >
                                        {{{__ "StartSOLE 101 Presentation"}}}
                                    </a>
                                    <a href="https://docs.google.com/presentation/d/1ou5fV2BjTT69-H_rQPimMWGcZS1ucZOvh1drzjGqNP4/export/ppt"
                                       onclick="trackOutboundLink(event, 'https://docs.google.com/presentation/d/1ou5fV2BjTT69-H_rQPimMWGcZS1ucZOvh1drzjGqNP4/export/ppt'); return false;"
                                       class="secondary-content filetype-icon-wrapper tooltipped"
                                       target="_blank"
                                       data-position="bottom"
                                       data-tooltip="PowerPoint">
                                        <img src="/images/profile/ppt.svg" alt="">
                                    </a>
                                    <a href="https://docs.google.com/presentation/d/1ou5fV2BjTT69-H_rQPimMWGcZS1ucZOvh1drzjGqNP4/export/pdf"
                                       onclick="trackOutboundLink(event, 'https://docs.google.com/presentation/d/1ou5fV2BjTT69-H_rQPimMWGcZS1ucZOvh1drzjGqNP4/export/pdf'); return false;"
                                       class="secondary-content filetype-icon-wrapper tooltipped"
                                       target="_blank"
                                       data-position="bottom"
                                       data-tooltip="PDF">
                                        <img src="/images/profile/pdf.svg" alt="">
                                    </a>
                                    <a href="https://docs.google.com/presentation/d/1ou5fV2BjTT69-H_rQPimMWGcZS1ucZOvh1drzjGqNP4/edit?usp=sharing"
                                       onclick="trackOutboundLink(event, 'https://docs.google.com/presentation/d/1ou5fV2BjTT69-H_rQPimMWGcZS1ucZOvh1drzjGqNP4/edit?usp=sharing'); return false;"
                                       class="secondary-content filetype-icon-wrapper tooltipped"
                                       target="_blank"
                                       data-position="bottom"
                                       data-tooltip="Google Doc">
                                        <img src="/images/profile/gdoc.svg" alt="">
                                    </a>
                                </div>
                            </li>
                            <li class="collection-item">
                                <div class="left-align">
                                    <a href="https://docs.google.com/presentation/d/1nby61PWTdZjsP9caLB5M8rLyT5NMTYzoI5V0fJHth3w/edit?usp=sharing"
                                       onclick="trackOutboundLink(event, 'https://docs.google.com/presentation/d/1nby61PWTdZjsP9caLB5M8rLyT5NMTYzoI5V0fJHth3w/edit?usp=sharing'); return false;"
                                       target="_blank"
                                    >
                                        {{{__ "StartSOLE 101 Presentation (1 hour version)"}}}
                                    </a>
                                    <a href="https://docs.google.com/presentation/d/1nby61PWTdZjsP9caLB5M8rLyT5NMTYzoI5V0fJHth3w/export/ppt"
                                       onclick="trackOutboundLink(event, 'https://docs.google.com/presentation/d/1nby61PWTdZjsP9caLB5M8rLyT5NMTYzoI5V0fJHth3w/export/ppt'); return false;"
                                       class="secondary-content filetype-icon-wrapper tooltipped"
                                       target="_blank"
                                       data-position="bottom"
                                       data-tooltip="PowerPoint">
                                        <img src="/images/profile/ppt.svg" alt="">
                                    </a>
                                    <a href="https://docs.google.com/presentation/d/1nby61PWTdZjsP9caLB5M8rLyT5NMTYzoI5V0fJHth3w/export/pdf"
                                       onclick="trackOutboundLink(event, 'https://docs.google.com/presentation/d/1nby61PWTdZjsP9caLB5M8rLyT5NMTYzoI5V0fJHth3w/export/pdf'); return false;"
                                       class="secondary-content filetype-icon-wrapper tooltipped"
                                       target="_blank"
                                       data-position="bottom"
                                       data-tooltip="PDF">
                                        <img src="/images/profile/pdf.svg" alt="">
                                    </a>
                                    <a href="https://docs.google.com/presentation/d/1nby61PWTdZjsP9caLB5M8rLyT5NMTYzoI5V0fJHth3w/edit?usp=sharing"
                                       onclick="trackOutboundLink(event, 'https://docs.google.com/presentation/d/1nby61PWTdZjsP9caLB5M8rLyT5NMTYzoI5V0fJHth3w/edit?usp=sharing'); return false;"
                                       class="secondary-content filetype-icon-wrapper tooltipped"
                                       target="_blank"
                                       data-position="bottom"
                                       data-tooltip="Google Doc">
                                        <img src="/images/profile/gdoc.svg" alt="">
                                    </a>
                                </div>
                            </li>
                            <li class="collection-item">
                                <div class="left-align">
                                    <a href="https://docs.google.com/document/d/1A5Sn_C8bRzOdrUVPFhe0kFiWpVsKIy1PHbKJavHQNg4/edit?usp=sharing"
                                       onclick="trackOutboundLink(event, 'https://docs.google.com/document/d/1A5Sn_C8bRzOdrUVPFhe0kFiWpVsKIy1PHbKJavHQNg4/edit?usp=sharing'); return false;"
                                       target="_blank"
                                    >
                                        {{{__ "Sample Advertising Flyer"}}}
                                    </a>
                                    <a href="https://docs.google.com/document/d/1A5Sn_C8bRzOdrUVPFhe0kFiWpVsKIy1PHbKJavHQNg4/export?format=doc"
                                       onclick="trackOutboundLink(event, 'https://docs.google.com/document/d/1A5Sn_C8bRzOdrUVPFhe0kFiWpVsKIy1PHbKJavHQNg4/export?format=doc'); return false;"
                                       class="secondary-content filetype-icon-wrapper tooltipped"
                                       target="_blank"
                                       data-position="bottom"
                                       data-tooltip="Microsoft Word">
                                        <img src="/images/profile/doc.svg" alt="">
                                    </a>
                                    <a href="https://docs.google.com/document/d/1A5Sn_C8bRzOdrUVPFhe0kFiWpVsKIy1PHbKJavHQNg4/export?format=pdf"
                                       onclick="trackOutboundLink(event, 'https://docs.google.com/document/d/1A5Sn_C8bRzOdrUVPFhe0kFiWpVsKIy1PHbKJavHQNg4/export?format=pdf'); return false;"
                                       class="secondary-content filetype-icon-wrapper tooltipped"
                                       target="_blank"
                                       data-position="bottom"
                                       data-tooltip="PDF">
                                        <img src="/images/profile/pdf.svg" alt="">
                                    </a>
                                    <a href="https://docs.google.com/document/d/1A5Sn_C8bRzOdrUVPFhe0kFiWpVsKIy1PHbKJavHQNg4/edit?usp=sharing"
                                       onclick="trackOutboundLink(event, 'https://docs.google.com/document/d/1A5Sn_C8bRzOdrUVPFhe0kFiWpVsKIy1PHbKJavHQNg4/edit?usp=sharing'); return false;"
                                       class="secondary-content filetype-icon-wrapper tooltipped"
                                       target="_blank"
                                       data-position="bottom"
                                       data-tooltip="Google Doc">
                                        <img src="/images/profile/gdoc.svg" alt="">
                                    </a>
                                </div>
                            </li>
                            <li class="collection-item">
                                <div class="left-align">
                                    <a href="https://docs.google.com/presentation/d/1-7-k4hJSiULwdUsWtAVXAWBBG9Dea3K1Ss9RdZT9OIg/edit?usp=sharing"
                                       onclick="trackOutboundLink(event, 'https://docs.google.com/presentation/d/1-7-k4hJSiULwdUsWtAVXAWBBG9Dea3K1Ss9RdZT9OIg/edit?usp=sharing'); return false;"
                                       target="_blank"
                                    >
                                        {{{__ "Using the SOLE website"}}}
                                    </a>
                                    <a href="https://docs.google.com/presentation/d/1-7-k4hJSiULwdUsWtAVXAWBBG9Dea3K1Ss9RdZT9OIg/export/ppt"
                                       onclick="trackOutboundLink(event, 'https://docs.google.com/presentation/d/1-7-k4hJSiULwdUsWtAVXAWBBG9Dea3K1Ss9RdZT9OIg/export/ppt'); return false;"
                                       class="secondary-content filetype-icon-wrapper tooltipped"
                                       target="_blank"
                                       data-position="bottom"
                                       data-tooltip="PowerPoint">
                                        <img src="/images/profile/ppt.svg" alt="">
                                    </a>
                                    <a href="https://docs.google.com/presentation/d/1-7-k4hJSiULwdUsWtAVXAWBBG9Dea3K1Ss9RdZT9OIg/export/pdf"
                                       onclick="trackOutboundLink(event, 'https://docs.google.com/presentation/d/1-7-k4hJSiULwdUsWtAVXAWBBG9Dea3K1Ss9RdZT9OIg/export/pdf'); return false;"
                                       class="secondary-content filetype-icon-wrapper tooltipped"
                                       target="_blank"
                                       data-position="bottom"
                                       data-tooltip="PDF">
                                        <img src="/images/profile/pdf.svg" alt="">
                                    </a>
                                    <a href="https://docs.google.com/presentation/d/1-7-k4hJSiULwdUsWtAVXAWBBG9Dea3K1Ss9RdZT9OIg/edit?usp=sharing"
                                       onclick="trackOutboundLink(event, 'https://docs.google.com/presentation/d/1-7-k4hJSiULwdUsWtAVXAWBBG9Dea3K1Ss9RdZT9OIg/edit?usp=sharing'); return false;"
                                       class="secondary-content filetype-icon-wrapper tooltipped"
                                       target="_blank"
                                       data-position="bottom"
                                       data-tooltip="Google Doc">
                                        <img src="/images/profile/gdoc.svg" alt="">
                                    </a>
                                </div>
                            </li>
                            <li class="collection-item">
                                <div class="left-align">
                                    <a href="https://docs.google.com/presentation/d/1SgoE_5jEkiK7ev_eHiWYLNQPjmU4NdI5PwvJvyTzInA/edit?usp=sharing"
                                       onclick="trackOutboundLink(event, 'https://docs.google.com/presentation/d/1SgoE_5jEkiK7ev_eHiWYLNQPjmU4NdI5PwvJvyTzInA/edit?usp=sharing'); return false;"
                                       target="_blank"
                                    >
                                        {{{__ "Using the SOLE mobile app"}}}
                                    </a>
                                    <a href="https://docs.google.com/presentation/d/1SgoE_5jEkiK7ev_eHiWYLNQPjmU4NdI5PwvJvyTzInA/export/ppt"
                                       onclick="trackOutboundLink(event, 'https://docs.google.com/presentation/d/1SgoE_5jEkiK7ev_eHiWYLNQPjmU4NdI5PwvJvyTzInA/export/ppt'); return false;"
                                       class="secondary-content filetype-icon-wrapper tooltipped"
                                       target="_blank"
                                       data-position="bottom"
                                       data-tooltip="PowerPoint">
                                        <img src="/images/profile/ppt.svg" alt="">
                                    </a>
                                    <a href="https://docs.google.com/presentation/d/1SgoE_5jEkiK7ev_eHiWYLNQPjmU4NdI5PwvJvyTzInA/export/pdf"
                                       onclick="trackOutboundLink(event, 'https://docs.google.com/presentation/d/1SgoE_5jEkiK7ev_eHiWYLNQPjmU4NdI5PwvJvyTzInA/export/pdf'); return false;"
                                       class="secondary-content filetype-icon-wrapper tooltipped"
                                       target="_blank"
                                       data-position="bottom"
                                       data-tooltip="PDF">
                                        <img src="/images/profile/pdf.svg" alt="">
                                    </a>
                                    <a href="https://docs.google.com/presentation/d/1SgoE_5jEkiK7ev_eHiWYLNQPjmU4NdI5PwvJvyTzInA/edit?usp=sharing"
                                       onclick="trackOutboundLink(event, 'https://docs.google.com/presentation/d/1SgoE_5jEkiK7ev_eHiWYLNQPjmU4NdI5PwvJvyTzInA/edit?usp=sharing'); return false;"
                                       class="secondary-content filetype-icon-wrapper tooltipped"
                                       target="_blank"
                                       data-position="bottom"
                                       data-tooltip="Google Doc">
                                        <img src="/images/profile/gdoc.svg" alt="">
                                    </a>

                                    <a href="https://www.youtube.com/watch?v=c_bdz1yNsCc&list=PLA0HS2MK5Lwj1IkOfNV-adui6it2qrbg4"
                                       onclick="trackOutboundLink(event, 'https://www.youtube.com/watch?v=c_bdz1yNsCc&list=PLA0HS2MK5Lwj1IkOfNV-adui6it2qrbg4'); return false;"
                                       class="secondary-content filetype-icon-wrapper tooltipped"
                                       target="_blank"
                                       data-position="bottom"
                                       data-tooltip="YouTube">
                                        <img src="/images/profile/youtube.svg" alt="">
                                    </a>
                                </div>
                            </li>
                            <li class="collection-item">
                                <div class="left-align" style="height: 32.4px;">
                                    <a class="js-copylink" target="_blank"
                                       href="https://app.startsole.org/register?r={{user.id}}">Signup for StartSOLE</a>
                                    <a class="secondary-content waves-effect waves-light btn-small js-linkcopybtn">{{{__ "Copy
                                        Link"}}}</a>
                                </div>
                            </li>
                        </ul>
                        <p>{{{__ "Please remember to share any copied content with support@startsole.org so we
                            can learn from your experience."}}}</p>
                        <a href="mailto:support@startsole.org" class="btn">{{{__ "Get Help"}}}</a>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}
</div>


<!-- Modal Structure -->
<div id="email-signature-modal" class="modal">
    <div class="modal-content">
        <h4>{{{__ "Email Signature"}}}</h4>
        <p>{{{__ "To add the StartSOLE signature to your email client, just follow the steps below:"}}}</p>
        <ol>
            <li><a onclick="copySignature()" style="cursor: pointer;">{{{__ "Click here (or use the button below) to copy your signature."}}}</a></li>
            <li>{{{__ "Open Gmail."}}}</li>
            <li>{{{__ "In the top right, click Settings"}}} (<img src="https://www.gstatic.com/images/icons/material/system/1x/settings_black_20dp.png" style="margin-bottom: -4px;"><strong> > {{{__ "Settings"}}}</strong>). </li>
            <li>{{{__ "Paste your signature (Ctrl+V or Command+V) into the 'Signature' section."}}}</li>
            <li>{{{__ "At the bottom of the page, click Save Changes."}}}</li>
        </ol>
        <p>{{{__ "Here is a preview of your signature:"}}}</p>
        <table id="email-signature" cellspacing="0" cellpadding="0" border="0" width="230px"
               style="width:230px; background:none;">
            <tr style="border:none">
                <td valign="top"
                    style="border-right:3px solid;vertical-align:middle;padding:0 6px 0 0;font-family: Arial;border-color:#28A79A;">
                    <img alt="StartSOLE"
                         style="moz-border-radius:10%;khtml-border-radius:10%;o-border-radius:10%;webkit-border-radius:10%;ms-border-radius:10%;border-radius:10%;"
                         src="/images/logos/logo-email-signature.png"/>
                </td>
                <td style="font-size:1em;padding:0 15px 0 8px;vertical-align: top;" valign="top">
                    <table cellspacing="0" cellpadding="0" border="0"
                           style="line-height: 1.4;font-family:Roboto, sans-serif;font-size:90%;color: #000001;">
                        <tr style="border:none">
                            <td style="padding: 0px;">
                                <div style="font: 1.2em Roboto, sans-serif;color:#000001;">{{user.firstName}} {{user.lastName}}</div>
                            </td>
                        </tr>
                        <tr style="border:none">
                            <td style="padding: 2px 0;">
                                <div style="color:#000001;font-family:Roboto, sans-serif;">
                                    <a style="color:#000001;text-decoration: underline;"
                                       target="_blank"
                                       href="https://startsole.org/">StartSOLE</a>
                                    {{#if roleData.isAmbassador}}
                                        |
                                    <a href="https://startsole.org/team/#ambassadors"
                                       style="color:#000001;"
                                       target="_blank">{{{__ "Ambassador"}}}</a>
                                    {{/if}}
                                </div>
                            </td>
                        </tr>
                        <tr style="border:none">
                            <table cellspacing="0" cellpadding="0" border="0" style="width:103px">
                                <tr style="border:none;">
                                    <td style="padding: 0 5px;">
                                        <a href="https://www.facebook.com/startsole/"
                                           target="_blank">
                                            <img
                                                    alt=""
                                                    style="width:24px;"
                                                    width="24"
                                                    src="/images/logos/fb-24.png">
                                        </a>
                                    </td>
                                    <td style="padding: 0 5px;">
                                        <a href="https://twitter.com/StartSOLE"
                                           target="_blank">
                                            <img alt=""
                                                 style="width:24px;"
                                                 width="24"
                                                 src="/images/logos/tw-24.png">
                                        </a>
                                    </td>
                                    <td style="padding: 0 5px;">
                                        <a href="https://www.youtube.com/startsole"
                                           target="_blank">
                                            <img alt=""
                                                 style="width:24px;"
                                                 width="24"
                                                 src="/images/logos/yt-24.png">
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </tr>
                    </table>
                </td>

            </tr>
        </table>
    </div>
    <div class="modal-footer">
        <a href="#!" onclick="copySignature()" class="waves-effect waves-green btn-flat">{{{__ "Copy Signature"}}}</a>
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">{{{__ "Close"}}}</a>
    </div>
</div>

<script>
    var copyEmailBtn = document.querySelector('.js-linkcopybtn');
    copyEmailBtn.addEventListener('click', function (event) {
        // Select the email link anchor text
        var link = document.querySelector('.js-copylink');
        var range = document.createRange();
        range.selectNode(link);
        window.getSelection().addRange(range);

        try {
            // Now that we've selected the anchor text, execute the copy command
            var successful = document.execCommand('copy');
            var msg = successful ? 'successful' : 'unsuccessful';
            M.toast({html: '{{{__ "Link Copied!"}}}'});
        } catch (err) {
            M.toast({html: '{{{__ "Oops, unable to copy!"}}}'});
        }

        // Remove the selections - NOTE: Should use
        // removeRange(range) when it is supported
        window.getSelection().removeAllRanges();
    });

    function copySignature() {
        var el = document.getElementById("email-signature");
        var range = document.createRange();
        range.selectNodeContents(el);
        var sel = window.getSelection();
        sel.removeAllRanges();
        sel.addRange(range);
        document.execCommand('copy');
        sel.empty();
        M.toast({html: '{{{__ "Signature Copied!"}}}'})
        return false;

    }
</script>