<h1>Profile page!</h1>

<hr>

<h2>Your profile:</h2>
<table>
  <tr>
    <td>Name:</td>
    <td>{{firstName}} {{lastName}}</td>
  </tr>
  <tr>
    <td>School:</td>
    <td>{{schoolName}}</td>
  </tr>
  <tr>
    <td>Points Earned:</td>
    <td>{{pointsEarned}}</td>
  </tr>
  <tr>
    <td>CEUs Earned:</td>
    <td>{{ceusEarned}}</td>
  </tr>
</table>
