<div class="breadcrumb-wrapper">
    <a href="/" class="breadcrumb">{{{__ "Home"}}}</a>
    <a class="breadcrumb">{{{__ "My Profile"}}}</a>
</div>

<div class="row">
    <div class="col s12">
        <div class="card {{#if user.thumb._url}}profile-header-card{{/if}}">
            <div class="card-image waves-effect waves-block waves-light profile-bg-image">
            </div>
            {{#if user.thumb._url}}
                <img src="{{user.thumb._url}}" alt="profile-picture" class="circle responsive-img profile-thumb">
            {{/if}}
            <div class="card-content">

                {{#if roleData.isAmbassador}}
                    <img src="/images/profile/ambassador_badge.png"
                         class="profile-badge-image hide-on-med-and-down"
                         alt="ambassador badge">
                {{/if}}

                {{#if roleData.isTrainer}}
                    <img src="/images/profile/trainer_badge.png"
                         class="profile-badge-image tooltipped hide-on-med-and-down"
                         alt="trainer badge"
                         data-position="bottom"
                         data-tooltip="Trainer">
                {{/if}}
                {{#if user.name}}
                    <span class="card-title grey-text text-darken-4">{{user.name}}</span>
                {{else}}
                    <span class="card-title grey-text text-darken-4">{{user.firstName}} {{user.lastName}}</span>
                {{/if}}

                {{#if user.createdAt}}
                <p>Member since {{user.createdAt}}</p>
                {{/if}}
            </div>
        </div>

    </div>
</div>

<div class="row">
    {{> profile/profile-card-manage-emails }}

    {{> profile/profile-card-about-me }}

    {{> profile/profile-card-ceus }}

    {{#if roleData.isAmbassador}}
        {{> profile/profile-card-ambassador }}
    {{/if}}

    {{#if roleData.isTrainer}}
        {{> profile/profile-card-trainer-materials }}
    {{/if}}
</div>

<!-- Common copying js for ambassador & trainers -->
<script>
    var copyEmailBtn = document.querySelector('.js-linkcopybtn');
    copyEmailBtn.addEventListener('click', function (event) {
        // Select the email link anchor text
        var link = document.querySelector('.js-copylink');
        var range = document.createRange();
        range.selectNode(link);
        window.getSelection().addRange(range);

        try {
            // Now that we've selected the anchor text, execute the copy command
            var successful = document.execCommand('copy');
            var msg = successful ? 'successful' : 'unsuccessful';
            M.toast({html: '{{{__ "Link Copied!"}}}'});
        } catch (err) {
            M.toast({html: '{{{__ "Oops, unable to copy!"}}}'});
        }

        // Remove the selections - NOTE: Should use
        // removeRange(range) when it is supported
        window.getSelection().removeAllRanges();
    });
</script>