<div class="breadcrumb-wrapper">
    <a href="/" class="breadcrumb">Home</a>
    <a class="breadcrumb">My Profile</a>
</div>

<h1>Your Profile</h1>
<table>
  <tr>
    <td>Name:</td>
    <td>{{firstName}} {{lastName}}</td>
  </tr>
  <tr>
    <td>School:</td>
    <td>{{schoolName}}</td>
  </tr>
  <tr>
    <td>Email:</td>
    <td>{{emailAddress}}</td>
  </tr>
  <tr>
    <td>Points Earned:</td>
    <td>{{pointsEarned}}</td>
  </tr>
  <tr>
    <td>CEUs Earned:</td>
    <td>{{ceusEarned}}</td>
  </tr>
</table>
