<div class="breadcrumb-wrapper">
    <a href="/" class="breadcrumb">{{{__ "Home"}}}</a>
    <a href="/questions" class="breadcrumb">{{{__ "Questions"}}}</a>
    {{#if question}}
        <a class="truncate truncate-question breadcrumb">{{question.text}}</a>
    {{/if}}
</div>

<div class="row">
    <div class="col s12">
        <div class="card-panel question-card">

            {{#if question}}
                <h3>{{question.text}}</h3>
                <h3>{{question.role}}</h3>
                <hr>
                <div class="row hide-on-med-and-up">
                    <div class="col s12 right-align">
                        <a href="/questions/{{question.id}}/favorite" class="fav-button teal waves-effect waves-light btn">
                        <i class="material-icons left">bookmark</i>
                        Favorite
                        </a>
                        <a href="/sole-create?question={{question.id}}" class="teal waves-effect waves-light
                        btn">
                            <i class="material-icons left">assignment</i>
                            {{{__ "Create Lesson"}}}
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">

                        {{#each question.tags}}
                            {{#if ../roleData.isAdmin}}
                                <a class="chip tooltipped"
                                   data-position="bottom"
                                   data-tooltip="{{this.text}}"
                                   href="{{../question.id}}/delete-tag/{{this.rdn}}">
                                    {{this.short_text}}
                                    <i class="close material-icons">close</i>
                                </a>
                            {{else}}
                                <a class="chip tooltipped"
                                   data-position="bottom"
                                   data-tooltip="{{this.text}}">
                                    {{this.short_text}}
                                </a>
                            {{/if}}
                        {{/each}}
                    </div>
                </div>
                {{#if question.sourceURL}}
                <div class="row">
                    <div class="col s12">
                        {{{__ "Question Source:"}}} <a href="{{question.sourceURL}}" target="_new">{{question.sourceURL}}</a>
                    </div>
                </div>
                {{/if}}
            {{else}}
                <br><br><br>
                <div class="row">
                    <div class="col s12 m6 offset-m3">
                        <div class="card-panel">
                            <div class="row center-align">
                                <h4>{{{__ "Whoops!"}}}</h4>
                            </div>
                            <div class="row">
                                <div class="col m12 l10 offset-l1">
                        <span>{{{__ "Looks like there is no question here with that ID.  Try searching for your next great SOLE question by clicking the button below:"}}}
                        </span>
                                </div>
                            </div>
                            <div class="row center-align">
                                <a class="waves-effect waves-light btn">{{{__ "Explore Questions"}}}</a>
                            </div>

                        </div>
                    </div>

                </div>

            {{/if}}

        </div>
        <div class="action-buttons-header hide-on-small-only">
            <a class="fav-button teal btn-floating btn-large waves-effect waves-light tooltipped"
               data-position="bottom"
               data-tooltip="{{{__ "Save Question"}}}"
               href="/questions/{{question.id}}/favorite"
            >
                <i class="material-icons">bookmark</i>
            </a>
            <a class="teal btn-floating btn-large waves-effect waves-light tooltipped"
               href="/sole-create?question={{question.id}}"
               data-position="bottom"
               data-tooltip="{{{__ "Create Lesson Plan"}}}">
                <i class="material-icons">assignment</i>
            </a>
        </div>
    </div>
</div>

{{#if favorited}}
    <script>
        $('document').ready(function(){
            var toastHTML = '<span>{{{__ "Added to Saved"}}}</span><a href="mine?fav=active" class="btn-flat toast-action">{{{__ "View"}}}</a>';
            M.toast({html: toastHTML})
        });
    </script>
{{/if}}