<div class="breadcrumb-wrapper">
    <a href="/" class="breadcrumb">Home</a>
    <a class="breadcrumb">Resources</a>
</div>

<div class="row">
    <div class="col s12">
        <div class="card-panel">
            <div class="row">
                <div class="col m12 l10">
                    <div class="row">
                        <div class="col s12 m6 l4">
                            <div class="card horizontal">
                                <div class="card-image">
                                    <img src="images/resources/communication_skills_matte_black.png">
                                </div>
                                <div class="card-stacked">
                                    <div class="card-content">
                                        <p>I am a very simple card. I am good at containing small bits of information.</p>
                                    </div>
                                    <div class="card-action">
                                        <a href="#">This is a link</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col hide-on-med-and-down l2">
                    <div id="pushpin-wrapper" style="max-width:140px;">
                        <img src="images/logos/sole-graphic-logo-small.png">
                        <ul class="pushpin-item section table-of-contents">
                            <li><a href="#overview">Resources</a></li>
                            <li><a href="#bigQuestion">Troubleshooting</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



<!-- Gallery -->
<div id="portfolio" class="section gray">
    <div class="container">
        <div class="gallery row">
            <div class="col l4 m6 s12 gallery-item gallery-expand gallery-filter polygon">
                <div class="gallery-curve-wrapper">
                    <a class="gallery-cover gray">
                        <img class="responsive-img" src="http://placehold.it/350x250" alt="placeholder">
                    </a>
                    <div class="gallery-header">
                        <span>Aquamarine</span>
                    </div>
                    <div class="gallery-body">
                        <div class="title-wrapper">
                            <h3>Aquamarine</h3>
                            <span class="price">$29.99</span>
                        </div>
                        <p class="description">
                            Literally venmo before they sold out, DIY heirloom forage polaroid offal yr pop-up selfies health goth. Typewriter scenester hammock truffaut meditation, squid before they sold out polaroid portland tousled taxidermy vice. Listicle butcher thundercats, taxidermy pitchfork next level roof party crucifix narwhal kinfolk you probably haven't heard of them portland small batch.</p>
                        <p class="description">
                            Ea salvia adipisicing vegan man bun. Flexitarian cupidatat skateboard flannel. Drinking vinegar marfa you probably haven't heard of them consequat post-ironic, shabby chic williamsburg raclette vaporware readymade selfies brunch. Venmo selvage biodiesel marfa. Tbh literally 3 wolf moon, proident elit raclette chambray consequat edison bulb four loko accusamus. Semiotics godard eiusmod, ex esse air plant quinoa vaporware selfies keytar. Actually yuccie ennui flannel single-origin coffee, williamsburg cardigan banjo forage pug distillery tumblr hexagon vinyl occaecat.</p>

                        <div class="carousel-wrapper">
                            <div class="carousel">
                                <a class="carousel-item" href="#one!"><img src="http://placehold.it/300x200"></a>
                                <a class="carousel-item" href="#two!"><img src="http://placehold.it/300x200"></a>
                                <a class="carousel-item" href="#three!"><img src="http://placehold.it/300x200"></a>
                                <a class="carousel-item" href="#four!"><img src="http://placehold.it/300x200"></a>
                                <a class="carousel-item" href="#five!"><img src="http://placehold.it/300x200"></a>
                            </div>
                        </div>
                    </div>
                    <div class="gallery-action">
                        <a class="btn-floating btn-large waves-effect waves-light"><i class="material-icons">favorite</i></a>
                    </div>
                </div>
            </div>
            <div class="col l4 m6 s12 gallery-item gallery-expand gallery-filter polygon">
                <div class="gallery-curve-wrapper">
                    <a class="gallery-cover gray">
                        <img src="http://placehold.it/350x300" alt="placeholder">
                    </a>
                    <div class="gallery-header">
                        <span>Sun</span>
                    </div>
                    <div class="gallery-body">
                        <div class="title-wrapper">
                            <h3>Sun</h3>
                            <span class="price">$9.99</span>
                        </div>
                        <p class="description">
                            Literally venmo before they sold out, DIY heirloom forage polaroid offal yr pop-up selfies health goth. Typewriter scenester hammock truffaut meditation, squid before they sold out polaroid portland tousled taxidermy vice. Listicle butcher thundercats, taxidermy pitchfork next level roof party crucifix narwhal kinfolk you probably haven't heard of them portland small batch.</p>
                        <p class="description">
                            Ea salvia adipisicing vegan man bun. Flexitarian cupidatat skateboard flannel. Drinking vinegar marfa you probably haven't heard of them consequat post-ironic, shabby chic williamsburg raclette vaporware readymade selfies brunch. Venmo selvage biodiesel marfa. Tbh literally 3 wolf moon, proident elit raclette chambray consequat edison bulb four loko accusamus. Semiotics godard eiusmod, ex esse air plant quinoa vaporware selfies keytar. Actually yuccie ennui flannel single-origin coffee, williamsburg cardigan banjo forage pug distillery tumblr hexagon vinyl occaecat.</p>

                        <div class="carousel-wrapper">
                            <div class="carousel">
                                <a class="carousel-item" href="#one!"><img src="http://placehold.it/300x200"></a>
                                <a class="carousel-item" href="#two!"><img src="http://placehold.it/300x200"></a>
                                <a class="carousel-item" href="#three!"><img src="http://placehold.it/300x200"></a>
                                <a class="carousel-item" href="#four!"><img src="http://placehold.it/300x200"></a>
                                <a class="carousel-item" href="#five!"><img src="http://placehold.it/300x200"></a>
                            </div>
                        </div>
                    </div>
                    <div class="gallery-action">
                        <a class="btn-floating btn-large waves-effect waves-light"><i class="material-icons">favorite</i></a>
                    </div>
                </div>
            </div>
            <div class="col l4 m6 s12 gallery-item gallery-expand gallery-filter bigbang">
                <div class="gallery-curve-wrapper">
                    <a class="gallery-cover gray">
                        <img class="responsive-img" src="http://placehold.it/350x280" alt="placeholder">
                    </a>
                    <div class="gallery-header">
                        <span>Big Bang 1</span>
                    </div>
                    <div class="gallery-body">
                        <div class="title-wrapper">
                            <h3>Big Bang 1</h3>
                            <span class="price">$23.99</span>
                        </div>
                        <p class="description">
                            Literally venmo before they sold out, DIY heirloom forage polaroid offal yr pop-up selfies health goth. Typewriter scenester hammock truffaut meditation, squid before they sold out polaroid portland tousled taxidermy vice. Listicle butcher thundercats, taxidermy pitchfork next level roof party crucifix narwhal kinfolk you probably haven't heard of them portland small batch.</p>
                        <p class="description">
                            Ea salvia adipisicing vegan man bun. Flexitarian cupidatat skateboard flannel. Drinking vinegar marfa you probably haven't heard of them consequat post-ironic, shabby chic williamsburg raclette vaporware readymade selfies brunch. Venmo selvage biodiesel marfa. Tbh literally 3 wolf moon, proident elit raclette chambray consequat edison bulb four loko accusamus. Semiotics godard eiusmod, ex esse air plant quinoa vaporware selfies keytar. Actually yuccie ennui flannel single-origin coffee, williamsburg cardigan banjo forage pug distillery tumblr hexagon vinyl occaecat.</p>

                        <div class="carousel-wrapper">
                            <div class="carousel">
                                <a class="carousel-item" href="#one!"><img src="http://placehold.it/300x200"></a>
                                <a class="carousel-item" href="#two!"><img src="http://placehold.it/300x200"></a>
                                <a class="carousel-item" href="#three!"><img src="http://placehold.it/300x200"></a>
                                <a class="carousel-item" href="#four!"><img src="http://placehold.it/300x200"></a>
                                <a class="carousel-item" href="#five!"><img src="http://placehold.it/300x200"></a>
                            </div>
                        </div>
                    </div>
                    <div class="gallery-action">
                        <a class="btn-floating btn-large waves-effect waves-light"><i class="material-icons">favorite</i></a>
                    </div>
                </div>
            </div>
            <div class="col l4 m6 s12 gallery-item gallery-expand gallery-filter polygon">
                <div class="gallery-curve-wrapper">
                    <a class="gallery-cover gray">
                        <img src="http://placehold.it/350x320" alt="placeholder">
                    </a>
                    <div class="gallery-header">
                        <span>Maze</span>
                    </div>
                    <div class="gallery-body">
                        <div class="title-wrapper">
                            <h3>Maze</h3>
                            <span class="price">$11.99</span>
                        </div>
                        <p class="description">
                            Literally venmo before they sold out, DIY heirloom forage polaroid offal yr pop-up selfies health goth. Typewriter scenester hammock truffaut meditation, squid before they sold out polaroid portland tousled taxidermy vice. Listicle butcher thundercats, taxidermy pitchfork next level roof party crucifix narwhal kinfolk you probably haven't heard of them portland small batch.</p>
                        <p class="description">
                            Ea salvia adipisicing vegan man bun. Flexitarian cupidatat skateboard flannel. Drinking vinegar marfa you probably haven't heard of them consequat post-ironic, shabby chic williamsburg raclette vaporware readymade selfies brunch. Venmo selvage biodiesel marfa. Tbh literally 3 wolf moon, proident elit raclette chambray consequat edison bulb four loko accusamus. Semiotics godard eiusmod, ex esse air plant quinoa vaporware selfies keytar. Actually yuccie ennui flannel single-origin coffee, williamsburg cardigan banjo forage pug distillery tumblr hexagon vinyl occaecat.</p>

                        <div class="carousel-wrapper">
                            <div class="carousel">
                                <a class="carousel-item" href="#one!"><img src="http://placehold.it/300x200"></a>
                                <a class="carousel-item" href="#two!"><img src="http://placehold.it/300x200"></a>
                                <a class="carousel-item" href="#three!"><img src="http://placehold.it/300x200"></a>
                                <a class="carousel-item" href="#four!"><img src="http://placehold.it/300x200"></a>
                                <a class="carousel-item" href="#five!"><img src="http://placehold.it/300x200"></a>
                            </div>
                        </div>
                    </div>
                    <div class="gallery-action">
                        <a class="btn-floating btn-large waves-effect waves-light"><i class="material-icons">favorite</i></a>
                    </div>
                </div>
            </div>
            <div class="col l4 m6 s12 gallery-item gallery-expand gallery-filter polygon">
                <div class="gallery-curve-wrapper">
                    <a class="gallery-cover gray">
                        <img src="http://placehold.it/350x260" alt="placeholder">
                    </a>
                    <div class="gallery-header">
                        <span>Ice</span>
                    </div>
                    <div class="gallery-body">
                        <div class="title-wrapper">
                            <h3>Ice</h3>
                            <span class="price">$14.99</span>
                        </div>
                        <p class="description">
                            Literally venmo before they sold out, DIY heirloom forage polaroid offal yr pop-up selfies health goth. Typewriter scenester hammock truffaut meditation, squid before they sold out polaroid portland tousled taxidermy vice. Listicle butcher thundercats, taxidermy pitchfork next level roof party crucifix narwhal kinfolk you probably haven't heard of them portland small batch.</p>
                        <p class="description">
                            Ea salvia adipisicing vegan man bun. Flexitarian cupidatat skateboard flannel. Drinking vinegar marfa you probably haven't heard of them consequat post-ironic, shabby chic williamsburg raclette vaporware readymade selfies brunch. Venmo selvage biodiesel marfa. Tbh literally 3 wolf moon, proident elit raclette chambray consequat edison bulb four loko accusamus. Semiotics godard eiusmod, ex esse air plant quinoa vaporware selfies keytar. Actually yuccie ennui flannel single-origin coffee, williamsburg cardigan banjo forage pug distillery tumblr hexagon vinyl occaecat.</p>

                        <div class="carousel-wrapper">
                            <div class="carousel">
                                <a class="carousel-item" href="#one!"><img src="http://placehold.it/300x200"></a>
                                <a class="carousel-item" href="#two!"><img src="http://placehold.it/300x200"></a>
                                <a class="carousel-item" href="#three!"><img src="http://placehold.it/300x200"></a>
                                <a class="carousel-item" href="#four!"><img src="http://placehold.it/300x200"></a>
                                <a class="carousel-item" href="#five!"><img src="http://placehold.it/300x200"></a>
                            </div>
                        </div>
                    </div>
                    <div class="gallery-action">
                        <a class="btn-floating btn-large waves-effect waves-light"><i class="material-icons">favorite</i></a>
                    </div>
                </div>
            </div>
            <div class="col l4 m6 s12 gallery-item gallery-expand gallery-filter polygon">
                <div class="gallery-curve-wrapper">
                    <a class="gallery-cover gray">
                        <img src="http://placehold.it/350x290" alt="placeholder">
                    </a>
                    <div class="gallery-header">
                        <span>Cave</span>
                    </div>
                    <div class="gallery-body">
                        <div class="title-wrapper">
                            <h3>Cave</h3>
                            <span class="price">$4.99</span>
                        </div>
                        <p class="description">
                            Literally venmo before they sold out, DIY heirloom forage polaroid offal yr pop-up selfies health goth. Typewriter scenester hammock truffaut meditation, squid before they sold out polaroid portland tousled taxidermy vice. Listicle butcher thundercats, taxidermy pitchfork next level roof party crucifix narwhal kinfolk you probably haven't heard of them portland small batch.</p>
                        <p class="description">
                            Ea salvia adipisicing vegan man bun. Flexitarian cupidatat skateboard flannel. Drinking vinegar marfa you probably haven't heard of them consequat post-ironic, shabby chic williamsburg raclette vaporware readymade selfies brunch. Venmo selvage biodiesel marfa. Tbh literally 3 wolf moon, proident elit raclette chambray consequat edison bulb four loko accusamus. Semiotics godard eiusmod, ex esse air plant quinoa vaporware selfies keytar. Actually yuccie ennui flannel single-origin coffee, williamsburg cardigan banjo forage pug distillery tumblr hexagon vinyl occaecat.</p>

                        <div class="carousel-wrapper">
                            <div class="carousel">
                                <a class="carousel-item" href="#one!"><img src="http://placehold.it/300x200"></a>
                                <a class="carousel-item" href="#two!"><img src="http://placehold.it/300x200"></a>
                                <a class="carousel-item" href="#three!"><img src="http://placehold.it/300x200"></a>
                                <a class="carousel-item" href="#four!"><img src="http://placehold.it/300x200"></a>
                                <a class="carousel-item" href="#five!"><img src="http://placehold.it/300x200"></a>
                            </div>
                        </div>
                    </div>
                    <div class="gallery-action">
                        <a class="btn-floating btn-large waves-effect waves-light"><i class="material-icons">favorite</i></a>
                    </div>
                </div>
            </div>
            <div class="col l4 m6 s12 gallery-item gallery-expand gallery-filter polygon">
                <div class="gallery-curve-wrapper">
                    <a class="gallery-cover gray">
                        <img src="http://placehold.it/350x240" alt="placeholder">
                    </a>
                    <div class="gallery-header">
                        <span>Grapefruit</span>
                    </div>
                    <div class="gallery-body">
                        <div class="title-wrapper">
                            <h3>Grapefruit</h3>
                            <span class="price">$14.99</span>
                        </div>

                        <p class="description">
                            Literally venmo before they sold out, DIY heirloom forage polaroid offal yr pop-up selfies health goth. Typewriter scenester hammock truffaut meditation, squid before they sold out polaroid portland tousled taxidermy vice. Listicle butcher thundercats, taxidermy pitchfork next level roof party crucifix narwhal kinfolk you probably haven't heard of them portland small batch.</p>
                        <p class="description">
                            Ea salvia adipisicing vegan man bun. Flexitarian cupidatat skateboard flannel. Drinking vinegar marfa you probably haven't heard of them consequat post-ironic, shabby chic williamsburg raclette vaporware readymade selfies brunch. Venmo selvage biodiesel marfa. Tbh literally 3 wolf moon, proident elit raclette chambray consequat edison bulb four loko accusamus. Semiotics godard eiusmod, ex esse air plant quinoa vaporware selfies keytar. Actually yuccie ennui flannel single-origin coffee, williamsburg cardigan banjo forage pug distillery tumblr hexagon vinyl occaecat.</p>

                        <div class="carousel-wrapper">
                            <div class="carousel">
                                <a class="carousel-item" href="#one!"><img src="http://placehold.it/300x200"></a>
                                <a class="carousel-item" href="#two!"><img src="http://placehold.it/300x200"></a>
                                <a class="carousel-item" href="#three!"><img src="http://placehold.it/300x200"></a>
                                <a class="carousel-item" href="#four!"><img src="http://placehold.it/300x200"></a>
                                <a class="carousel-item" href="#five!"><img src="http://placehold.it/300x200"></a>
                            </div>
                        </div>

                    </div>
                    <div class="gallery-action">
                        <a class="btn-floating btn-large waves-effect waves-light"><i class="material-icons">favorite</i></a>
                    </div>
                </div>
            </div>
            <div class="col l4 m6 s12 gallery-item gallery-expand gallery-filter bigbang">
                <div class="gallery-curve-wrapper">
                    <a class="gallery-cover gray">
                        <img class="responsive-img" src="http://placehold.it/350x300" alt="placeholder">
                    </a>
                    <div class="gallery-header">
                        <span>Big Bang 2</span>
                    </div>
                    <div class="gallery-body">
                        <div class="title-wrapper">
                            <h3>Big Bang 2</h3>
                            <span class="price">$40.99</span>
                        </div>
                        <p class="description">
                            Literally venmo before they sold out, DIY heirloom forage polaroid offal yr pop-up selfies health goth. Typewriter scenester hammock truffaut meditation, squid before they sold out polaroid portland tousled taxidermy vice. Listicle butcher thundercats, taxidermy pitchfork next level roof party crucifix narwhal kinfolk you probably haven't heard of them portland small batch.</p>
                        <p class="description">
                            Ea salvia adipisicing vegan man bun. Flexitarian cupidatat skateboard flannel. Drinking vinegar marfa you probably haven't heard of them consequat post-ironic, shabby chic williamsburg raclette vaporware readymade selfies brunch. Venmo selvage biodiesel marfa. Tbh literally 3 wolf moon, proident elit raclette chambray consequat edison bulb four loko accusamus. Semiotics godard eiusmod, ex esse air plant quinoa vaporware selfies keytar. Actually yuccie ennui flannel single-origin coffee, williamsburg cardigan banjo forage pug distillery tumblr hexagon vinyl occaecat.</p>

                        <div class="carousel-wrapper">
                            <div class="carousel">
                                <a class="carousel-item" href="#one!"><img src="http://placehold.it/300x200"></a>
                                <a class="carousel-item" href="#two!"><img src="http://placehold.it/300x200"></a>
                                <a class="carousel-item" href="#three!"><img src="http://placehold.it/300x200"></a>
                                <a class="carousel-item" href="#four!"><img src="http://placehold.it/300x200"></a>
                                <a class="carousel-item" href="#five!"><img src="http://placehold.it/300x200"></a>
                            </div>
                        </div>
                    </div>
                    <div class="gallery-action">
                        <a class="btn-floating btn-large waves-effect waves-light"><i class="material-icons">favorite</i></a>
                    </div>
                </div>
            </div>
            <div class="col l4 m6 s12 gallery-item gallery-expand gallery-filter bigbang">
                <div class="gallery-curve-wrapper">
                    <a class="gallery-cover gray">
                        <img class="responsive-img" src="http://placehold.it/350x280" alt="placeholder">
                    </a>
                    <div class="gallery-header">
                        <span>Big Bang 3</span>
                    </div>
                    <div class="gallery-body">
                        <div class="title-wrapper">
                            <h3>Big Bang 3</h3>
                            <span class="price">$18.99</span>
                        </div>
                        <p class="description">
                            Literally venmo before they sold out, DIY heirloom forage polaroid offal yr pop-up selfies health goth. Typewriter scenester hammock truffaut meditation, squid before they sold out polaroid portland tousled taxidermy vice. Listicle butcher thundercats, taxidermy pitchfork next level roof party crucifix narwhal kinfolk you probably haven't heard of them portland small batch.</p>
                        <p class="description">
                            Ea salvia adipisicing vegan man bun. Flexitarian cupidatat skateboard flannel. Drinking vinegar marfa you probably haven't heard of them consequat post-ironic, shabby chic williamsburg raclette vaporware readymade selfies brunch. Venmo selvage biodiesel marfa. Tbh literally 3 wolf moon, proident elit raclette chambray consequat edison bulb four loko accusamus. Semiotics godard eiusmod, ex esse air plant quinoa vaporware selfies keytar. Actually yuccie ennui flannel single-origin coffee, williamsburg cardigan banjo forage pug distillery tumblr hexagon vinyl occaecat.</p>

                        <div class="carousel-wrapper">
                            <div class="carousel">
                                <a class="carousel-item" href="#one!"><img src="http://placehold.it/300x200"></a>
                                <a class="carousel-item" href="#two!"><img src="http://placehold.it/300x200"></a>
                                <a class="carousel-item" href="#three!"><img src="http://placehold.it/300x200"></a>
                                <a class="carousel-item" href="#four!"><img src="http://placehold.it/300x200"></a>
                                <a class="carousel-item" href="#five!"><img src="http://placehold.it/300x200"></a>
                            </div>
                        </div>
                    </div>
                    <div class="gallery-action">
                        <a class="btn-floating btn-large waves-effect waves-light"><i class="material-icons">favorite</i></a>
                    </div>
                </div>
            </div>

            <div class="col l4 m6 s12 gallery-item gallery-expand gallery-filter sacred">
                <div class="gallery-curve-wrapper">
                    <a class="gallery-cover gray">
                        <img class="responsive-img" src="http://placehold.it/350x250" alt="placeholder">
                    </a>
                    <div class="gallery-header">
                        <span>Circle</span>
                    </div>
                    <div class="gallery-body">
                        <div class="title-wrapper">
                            <h3>Circle</h3>
                            <span class="price">$10.99</span>
                        </div>
                        <p class="description">
                            Literally venmo before they sold out, DIY heirloom forage polaroid offal yr pop-up selfies health goth. Typewriter scenester hammock truffaut meditation, squid before they sold out polaroid portland tousled taxidermy vice. Listicle butcher thundercats, taxidermy pitchfork next level roof party crucifix narwhal kinfolk you probably haven't heard of them portland small batch.</p>
                        <p class="description">
                            Ea salvia adipisicing vegan man bun. Flexitarian cupidatat skateboard flannel. Drinking vinegar marfa you probably haven't heard of them consequat post-ironic, shabby chic williamsburg raclette vaporware readymade selfies brunch. Venmo selvage biodiesel marfa. Tbh literally 3 wolf moon, proident elit raclette chambray consequat edison bulb four loko accusamus. Semiotics godard eiusmod, ex esse air plant quinoa vaporware selfies keytar. Actually yuccie ennui flannel single-origin coffee, williamsburg cardigan banjo forage pug distillery tumblr hexagon vinyl occaecat.</p>

                        <div class="carousel-wrapper">
                            <div class="carousel">
                                <a class="carousel-item" href="#one!"><img src="http://placehold.it/300x200"></a>
                                <a class="carousel-item" href="#two!"><img src="http://placehold.it/300x200"></a>
                                <a class="carousel-item" href="#three!"><img src="http://placehold.it/300x200"></a>
                                <a class="carousel-item" href="#four!"><img src="http://placehold.it/300x200"></a>
                                <a class="carousel-item" href="#five!"><img src="http://placehold.it/300x200"></a>
                            </div>
                        </div>
                    </div>
                    <div class="gallery-action">
                        <a class="btn-floating btn-large waves-effect waves-light"><i class="material-icons">favorite</i></a>
                    </div>
                </div>
            </div>

            <div class="col l4 m6 s12 gallery-item gallery-expand gallery-filter sacred">
                <div class="gallery-curve-wrapper">
                    <a class="gallery-cover gray">
                        <img class="responsive-img" src="http://placehold.it/350x260" alt="placeholder">
                    </a>
                    <div class="gallery-header">
                        <span>Triangle</span>
                    </div>
                    <div class="gallery-body">
                        <div class="title-wrapper">
                            <h3>Triangle</h3>
                            <span class="price">$10.99</span>
                        </div>
                        <p class="description">
                            Literally venmo before they sold out, DIY heirloom forage polaroid offal yr pop-up selfies health goth. Typewriter scenester hammock truffaut meditation, squid before they sold out polaroid portland tousled taxidermy vice. Listicle butcher thundercats, taxidermy pitchfork next level roof party crucifix narwhal kinfolk you probably haven't heard of them portland small batch.</p>
                        <p class="description">
                            Ea salvia adipisicing vegan man bun. Flexitarian cupidatat skateboard flannel. Drinking vinegar marfa you probably haven't heard of them consequat post-ironic, shabby chic williamsburg raclette vaporware readymade selfies brunch. Venmo selvage biodiesel marfa. Tbh literally 3 wolf moon, proident elit raclette chambray consequat edison bulb four loko accusamus. Semiotics godard eiusmod, ex esse air plant quinoa vaporware selfies keytar. Actually yuccie ennui flannel single-origin coffee, williamsburg cardigan banjo forage pug distillery tumblr hexagon vinyl occaecat.</p>

                        <div class="carousel-wrapper">
                            <div class="carousel">
                                <a class="carousel-item" href="#one!"><img src="http://placehold.it/300x200"></a>
                                <a class="carousel-item" href="#two!"><img src="http://placehold.it/300x200"></a>
                                <a class="carousel-item" href="#three!"><img src="http://placehold.it/300x200"></a>
                                <a class="carousel-item" href="#four!"><img src="http://placehold.it/300x200"></a>
                                <a class="carousel-item" href="#five!"><img src="http://placehold.it/300x200"></a>
                            </div>
                        </div>
                    </div>
                    <div class="gallery-action">
                        <a class="btn-floating btn-large waves-effect waves-light"><i class="material-icons">favorite</i></a>
                    </div>
                </div>
            </div>

            <div class="col l4 m6 s12 gallery-item gallery-expand gallery-filter sacred">
                <div class="gallery-curve-wrapper">
                    <a class="gallery-cover gray">
                        <img class="responsive-img" src="http://placehold.it/350x300" alt="placeholder">
                    </a>
                    <div class="gallery-header">
                        <span>Hexagon</span>
                    </div>
                    <div class="gallery-body">
                        <div class="title-wrapper">
                            <h3>Hexagon</h3>
                            <span class="price">$10.99</span>
                        </div>
                        <p class="description">
                            Literally venmo before they sold out, DIY heirloom forage polaroid offal yr pop-up selfies health goth. Typewriter scenester hammock truffaut meditation, squid before they sold out polaroid portland tousled taxidermy vice. Listicle butcher thundercats, taxidermy pitchfork next level roof party crucifix narwhal kinfolk you probably haven't heard of them portland small batch.</p>
                        <p class="description">
                            Ea salvia adipisicing vegan man bun. Flexitarian cupidatat skateboard flannel. Drinking vinegar marfa you probably haven't heard of them consequat post-ironic, shabby chic williamsburg raclette vaporware readymade selfies brunch. Venmo selvage biodiesel marfa. Tbh literally 3 wolf moon, proident elit raclette chambray consequat edison bulb four loko accusamus. Semiotics godard eiusmod, ex esse air plant quinoa vaporware selfies keytar. Actually yuccie ennui flannel single-origin coffee, williamsburg cardigan banjo forage pug distillery tumblr hexagon vinyl occaecat.</p>

                        <div class="carousel-wrapper">
                            <div class="carousel">
                                <a class="carousel-item" href="#one!"><img src="http://placehold.it/300x200"></a>
                                <a class="carousel-item" href="#two!"><img src="http://placehold.it/300x200"></a>
                                <a class="carousel-item" href="#three!"><img src="http://placehold.it/300x200"></a>
                                <a class="carousel-item" href="#four!"><img src="http://placehold.it/300x200"></a>
                                <a class="carousel-item" href="#five!"><img src="http://placehold.it/300x200"></a>
                            </div>
                        </div>
                    </div>
                    <div class="gallery-action">
                        <a class="btn-floating btn-large waves-effect waves-light"><i class="material-icons">favorite</i></a>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div><!-- /.container -->


<!--<div masonry class="row gallery" style="margin-bottom: 0;">-->
<!--{{#if resources}}-->
  <!--{{#each resources}}-->
  <!--<div class="col s12 l6 gallery-item gallery-horizontal gallery-expand gallery-filter">-->
      <!--<div class="gallery-curve-wrapper">-->
          <!--<a class="gallery-cover gray" style="max-height: 300px;">-->
              <!--<img class="responsive-img" src="/images/resources/{{image}}" alt="resource preview image">-->
          <!--</a>-->
          <!--<div class="gallery-header" style="max-height: 300px; position:relative">-->
              <!--<h5>{{title}}</h5>-->
              <!--<p class="resource-description short-description">{{ short }}</p>-->
              <!--<p class="resource-description long-description">{{ description }}</p>-->
              <!--<div id="gallery-resources-header-download-button"-->
                   <!--style="position:absolute; bottom:10px; right:10px">-->
                  <!--<a  target="_blank"-->
                     <!--href="/resources/{{ file }}"-->
                     <!--ng-click="$event.stopImmediatePropagation();">-->
                      <!--Download <i class="material-icons">file_download</i>-->
                  <!--</a>-->
                  <!--<a ui-sref="login"-->
                     <!--onclick="event.stopImmediatePropagation();Materialize.toast('Login to download resources', 4000);">-->
                      <!--Download <i class="material-icons">file_download</i>-->
                  <!--</a>-->
              <!--</div>-->
          <!--</div>-->
          <!--<div class="gallery-body">-->
              <!--<div class="title-wrapper">-->
                  <!--<h3>{{ title }}</h3>-->
              <!--</div>-->
              <!--<div>-->
                  <!--<p class="flow-text">{{ description }}</p>-->
                  <!--<p class="flow-text">-->
                      <!--Submitted by-->
                      <!--<span>-->
                        <!--{{#each authors}}-->
                        <!--<a href="mailto:{{ email }}?Subject=SOLE%20CLE%20Resources"-->
                           <!--target="_blank">-->
                          <!--{{ name }}-->
                        <!--</a>-->
                        <!--{{/each}}-->
                      <!--</span>-->
                  <!--</p>-->
              <!--</div>-->
          <!--</div>-->
          <!--<div class="gallery-action">-->
              <!--<a href="/resources/{{ file }}"-->
                 <!--ng-click="$event.stopImmediatePropagation();"-->
                 <!--class="btn-floating btn-large waves-effect waves-light"-->
                 <!--target="_blank">-->
                  <!--<i class="material-icons">file_download</i>-->
              <!--</a>-->
              <!--<a ng-click="$event.stopImmediatePropagation();Resources.promptLogin();"-->
                 <!--class="btn-floating btn-large waves-effect waves-light">-->
                  <!--<i class="material-icons">file_download</i>-->
              <!--</a>-->
          <!--</div>-->
      <!--</div>-->
  <!--</div>-->
  <!--{{/each}}-->



<!--{{else}}-->

<!--<div class="row">-->
  <!--<div class="col s12 m8 offset-m2 l6 offset-l3 gallery-item">-->
    <!--<div class="gallery-curve-wrapper">-->
      <!--<div class="gallery-header" style="max-height: 300px; position:relative">-->
        <!--<a href="mailto:support@startsole.org?Subject=SOLE%20CLE%20Resources"-->
           <!--target="_blank">-->
          <!--<div class="red lighten-1 card small valign-wrapper center-align" style="margin-top: 0;">-->
            <!--<div style="width:100%">-->
              <!--<span class="card-title white-text text-darken-4">-->
                <!--Nothing here...yet<br>-->
              <!--</span>-->
              <!--<p class="flow-text white-text text-darken-4 center-align valign"-->
                 <!--style="margin:10px">-->
                <!--Share your SOLE Resource with the community.<br>-->
                <!--<i class="material-icons">send</i>-->
              <!--</p>-->
            <!--</div>-->
          <!--</div>-->
        <!--</a>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<!--{{/if}}-->

<!--</div>-->
