<div class="breadcrumb-wrapper">
    <a href="/?sesh={{sesh}}" class="breadcrumb">Home</a>
    <a class="breadcrumb">Resources</a>
</div>

<div class="row">
    <div class="col s12">
        <div class="card-panel">
            <div class="row">
                <div class="col l12">
                    <div class="row">

                        {{#if resources}}
                            {{#each resources}}
                                <div class="col m12 l6">
                                    <div class="resource-card card horizontal">
                                        <div class="card-image">
                                            <img src="images/resources/{{image}}">
                                        </div>
                                        <div class="card-stacked">
                                            <div class="card-content">
                                                <span class="card-title">{{title}}</span>
                                                <p class="short-description">{{short}}</p>
                                                <p class="long-description">{{description}}</p>

                                                {{#each authors}}
                                                <p>Created by <a href="mailto:{{email}}"
                                                         target="_top">{{name}}</a></p>
                                                {{/each}}

                                            </div>
                                            <div class="card-action">
                                                <a href="#">Download</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {{/each}}
                        {{/if}}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
