<a href="/">Home</a> > <a href="/soles">SOLEs</a> >
<strong>
{{#if sole}}
  Edit
{{else}}
  Add
{{/if}}
</strong> <br>

<div class="row">
    <div class="col m12 l10 offset-l1">
        <div class="card-panel">
            <h5>Create a SOLE Lesson Plan</h5>
            <form name="step1" class="body" novalidate>
                <div class="row">
                    <div class="input-field col s12 m6 l8">
                        <input id="question" name="question" type="text" required
                               class="validate"
                               value="{{sole.question.text}}">
                        <label for="question">What is your big question?</label>
                    </div>
                    <div class="input-field col s12 m6 l4">
                        <input id="planned_date" name="planned_date" type="text"
                               class="datepicker" required
                               value="{{sole.planned_date}}">
                        <label for="planned_date">When will you complete this SOLE?</label>
                    </div>

                    <div class="input-field col s12 m6">
                        <select name="grade" class="browser-default validate" required
                                value="{{sole.grade}}">
                            <option value="" disabled>What grade is the class?</option>
                            <option ng-repeat="(key, value) in LessonPlan.grades" value="{{key}}">
                                {{value}}
                            </option>
                        </select>
                    </div>
                    <div class="input-field col s12 m6">
                        <select name="subject" class="browser-default validate" required
                                value="{{sole.subject}}">
                            <option value="" disabled>What subject is the class?</option>
                            <option ng-repeat="subject in LessonPlan.subjects" value="{{subject}}">
                                {{subject}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m12 l4">
                        <select name="num_students" class="browser-default validate" required
                                value="{{sole.num_students}}">
                            <option value="" disabled>How many students are in your class?</option>
                            <option value="9">Less than 10 students</option>
                            <option value="10">10 students</option>
                            <option value="11">11 students</option>
                            <option value="12">12 students</option>
                            <option value="13">13 students</option>
                            <option value="14">14 students</option>
                            <option value="15">15 students</option>
                            <option value="16">16 students</option>
                            <option value="17">17 students</option>
                            <option value="18">18 students</option>
                            <option value="19">19 students</option>
                            <option value="20">20 students</option>
                            <option value="21">21 students</option>
                            <option value="22">22 students</option>
                            <option value="23">23 students</option>
                            <option value="24">24 students</option>
                            <option value="25">25 students</option>
                            <option value="26">26 students</option>
                            <option value="27">27 students</option>
                            <option value="28">28 students</option>
                            <option value="29">29 students</option>
                            <option value="30">30 students</option>
                            <option value="31">31 students</option>
                            <option value="32">32 students</option>
                            <option value="33">33 students</option>
                            <option value="34">34 students</option>
                            <option value="35">35 students</option>
                            <option value="36">more than 35 students</option>
                        </select>
                    </div>
                    <div class="input-field col s12 m12 l4">
                        <select name="num_groups" class="browser-default validate" required
                                value="{{sole.num_devices}}">
                            <option value="" disabled>How many internet-enabled devices are available?</option>
                            <option value="2">2 devices</option>
                            <option value="3">3 devices</option>
                            <option value="4">4 devices</option>
                            <option value="5">5 devices</option>
                            <option value="6">6 devices</option>
                            <option value="7">7 devices</option>
                            <option value="8">8 devices</option>
                            <option value="9">9 devices</option>
                            <option value="10">10 devices</option>
                            <option value="11">More than 10 devices</option>
                        </select>
                    </div>
                    <div class="input-field col s12 m12 l4">
                        <input id="time" name="time" type="number" required
                               class="validate"
                               value="{{sole.duration}}">
                        <label for="time" data-error="please enter a number">How many minutes is your class?</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <select name="sole_goal" class="browser-default validate" required
                                value="{{sole.sole_goal}}">
                            <option value="" disabled>Which of these content knowledge objectives
                                best describes your goal for this SOLE?
                            </option>
                            <option value="Introducing students to a new concept">
                                Introducing students to a new concept
                            </option>
                            <option value="Helping students connect prior knowledge to a current topic">
                                Helping students connect prior knowledge to a current topic
                            </option>
                            <option value="Allowing students to discover and explore interests related to a topic">
                                Allowing students to discover and explore interests related to
                                a topic
                            </option>
                            <option value="Helping students deepen understanding of a current topic">
                                Helping students deepen understanding of a current topic
                            </option>
                            <option value="Reviewing knowledge from a current unit">
                                Reviewing knowledge from a current unit
                            </option>
                            <option value="Assessing student understanding of a current topic">
                                Assessing student understanding of a current topic
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <p>Will students form their own groups?</p>
                        <div class="validate-one">
                            <p>
                                <input name="own_groups" type="radio" id="own_groups_yes"
                                       value="1"
                                       value="{{sole.own_groups}}" required/>
                                <label for="own_groups_yes">Yes</label>
                            </p>
                            <p>
                                <input name="own_groups" type="radio" id="own_groups_no"
                                       value="0"
                                       value="{{sole.own_groups}}" required/>
                                <label for="own_groups_no">No</label>
                            </p>
                        </div>
                        <p>Will students share among groups while they were researching?</p>
                        <div class="validate-one">
                            <p>
                                <input name="group_sharing" type="radio" id="group_sharing_yes"
                                       value="1"
                                       value="{{sole.groups_sharing}}" required/>
                                <label for="group_sharing_yes">Yes</label>
                            </p>
                            <p>
                                <input name="group_sharing" type="radio" id="group_sharing_no"
                                       value="0"
                                       value="{{sole.groups_sharing}}" required/>
                                <label for="group_sharing_no">No</label>
                            </p>
                        </div>
                        <p>Will students complete a self-assessment after the SOLE?</p>
                        <div class="validate-one">
                            <p>
                                <input name="self_assessment" type="radio" id="self_assessment_yes"
                                       value="1"
                                       value="{{sole.self_assessment}}" required/>
                                <label for="self_assessment_yes">Yes</label>
                            </p>
                            <p>
                                <input name="self_assessment" type="radio" id="self_assessment_no"
                                       value="0"
                                       value="{{sole.self_assessment}}" required/>
                                <label for="self_assessment_no">No</label>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row"
                     ng-show="LessonPlan.show_recommended">
                    <div class="col s12 m10 offset-m1 l8 offset-l2">
                        <div class="card">
                            <div class="card-content lp-stats">
                                <span class="card-title center-align">Recommended Settings</span>

                                <div class="input-field center-align lp-input">
                                    <input id="groups" type="number" class="center-align"
                                           value="{{sole.num_groups}}">
                                    <label for="groups" data-error="wrong" data-success="right" class="center-align"></label>
                                </div> groups with <span ng-bind="LessonPlan.group_size"></span> students each.
                                <br><br>


                                <div class="input-field lp-input">
                                    <input type="number" class="center-align"
                                           value="{{sole.question_length}}">
                                    <!--<label for="groups" data-error="wrong" data-success="right" class="center-align"></label>-->
                                </div> minutes to introduce the question to the class.
                                <br>

                                <div class="input-field lp-input">
                                    <input type="number" class="center-align"
                                           value="{{sole.investigation_length}}">
                                    <!--<label for="groups" data-error="wrong" data-success="right" class="center-align"></label>-->
                                </div> minutes for students to research.
                                <br>

                                <div class="input-field lp-input"
                                     value="{{sole.review_length}}">
                                    <input type="number" class="center-align">
                                    <!--<label for="groups" data-error="wrong" data-success="right" class="center-align"></label>-->
                                </div> minutes for groups to present their findings to the class.

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <a type="submit" class="waves-effect waves-light btn"
                       ng-click="LessonPlan.save()"
                       ng-disabled="step1.$invalid">
                        Save &amp; Go Home
                    </a>
                </div>
            </form>


        </div>
    </div>
</div>
