<div class="breadcrumb-wrapper">
    <a href="/?sesh={{sesh}}" class="breadcrumb">Home</a>
    <a href="/soles?sesh={{sesh}}" class="breadcrumb">My SOLEs</a>
    <a class="breadcrumb">
        {{#if sole}}
            {{sole.question.question.text}}
        {{else}}
            Create
        {{/if}}
    </a>
</div>

<div class="row">
    <div class="col s12">
        <div class="card-panel">

            {{#if sole.observations}}
                <h5>Review Photos</h5>
                <div class="row">
                    {{#each sole.observations}}
                        {{#if image.full}}
                            <div class="col s12 m4 l3 xl2">
                                <div class="materialbox-preview thumbnail">
                                    <img class="materialboxed responsive-img "
                                         src="{{ image.full }}"
                                    >
                                </div>
                            </div>
                        {{/if}}
                    {{/each}}
                </div>
            {{else}}
                <h5>Upload Photos</h5>
                <form action="/api/upload-sole-image"
                      class="dropzone"
                      id="myAwesomeDropzone">
                    <div class="fallback">
                        <input name="file" type="file" multiple />
                    </div>
                </form>
            {{/if}}

            <form id="reflect-form" method="post" action="/sole-reflect">
                <input type="hidden" name="sesh" id="sesh" value="{{sesh}}">
                <input type="hidden" name="soleID" id="soleID" value="{{sole.id}}">


                <!--content knowledge objective-->
                <div class="row">
                    <div class="col s12">
                        <h5>Reflect</h5>
                        <p>1. During this SOLE, your objective was {{sole.content_objective.text}}.  Do you think you
                            achieved this objective?</p>
                    </div>
                    <div class="col m12 l6">
                        <div class="input-field">
                            <select name="content_objective_achieved" required>
                                <option value="" disabled selected>Choose your option</option>
                                <option value="reflect.agree.strongly_agree">Strongly Agree</option>
                                <option value="reflect.agree.agree">Agree</option>
                                <option value="reflect.agree.disagree">Disagree</option>
                                <option value="reflect.agree.strongly_disagree">Strongly Disagree</option>
                            </select>
                            <label>Select your response</label>
                        </div>
                    </div>
                    <div class="input-field col m12 l6">
                        <input name="content_objective_achieved_why"
                               id="content_objective_why"
                               type="text"
                               required
                               class="validate">
                        <label class="active" for="content_objective_why">Why do you think this?</label>
                    </div>
                </div>

                <!--type of thinking-->
                <div class="row">
                    <div class="col s12">
                        <p>2. What type of thinking were most students using during this SOLE?
                            <a href="http://www.aps.edu/sapr/documents/resources/Webbs_DOK_Guide.pdf" target="_blank">
                            Learn More about Webb's Depth of Knowledge
                        </a>
                        </p>
                    </div>
                    <div class="col m12 l6">
                        <div class="input-field">
                            <select name="dok" required>
                                <option value="" disabled selected>Choose your option</option>
                                <option value="reflection.type_of_thinking.recall">Recall and Reproduction</option>
                                <option value="reflection.type_of_thinking.skill">Skill/Concept</option>
                                <option value="reflection.type_of_thinking.short_strategic">Short Term Strategic</option>
                                <option value="reflection.type_of_thinking.long_strategic">Long Term Strategic</option>
                            </select>
                            <label>Select your response</label>
                        </div>
                    </div>
                    <div class="input-field col m12 l6">
                        <input name="dok_why"
                               id="dok_why"
                               type="text"
                               class="validate"
                               required>
                        <label class="active" for="dok_why">Why do you think this?</label>
                    </div>
                </div>

                <!--student engagement-->
                <div class="row">
                    <div class="col s12 m8">
                        <p>3. What percentage of students were engaged during the SOLE?</p>
                    </div>
                    <div class="col s12 m4">
                        <p class="range-field">
                            <input type="range" name="percent_engaged"
                                   min="0" step="5" max="100"
                                   required
                            />
                        </p>
                    </div>
                </div>

                <!--collaboration-->
                <div class="row">
                    <div class="col s12 m8">
                        <p>4. What percentage of students worked effectively and respectfully together and shared responsibility?</p>
                    </div>
                    <div class="col s12 m4">
                        <p class="range-field">
                            <input type="range" name="percent_collaboration"
                                   min="0" step="5" max="100"
                                   required
                            />
                        </p>
                    </div>
                </div>

                <!--technology use-->
                <div class="row">
                    <div class="col s12 m8">
                        <p>5. What percentage of student groups used technology effectively?</p>
                    </div>
                    <div class="col s12 m4">
                        <p class="range-field">
                            <input type="range" name="percent_technology"
                                   min="0" step="5" max="100"
                                   required
                            />
                        </p>
                    </div>
                </div>





                <!--communication-->
                <div class="row">
                    <div class="col s12 m8">
                        <p>6. What percentage of students articulated thoughts and listened effectively?</p>
                    </div>
                    <div class="col s12 m4">
                        <p class="range-field">
                            <input type="range" name="percent_communication"
                                   min="0" step="5" max="100"
                                   required
                            />
                        </p>
                    </div>
                </div>

                <!--content knowledge objective-->
                <div class="row">
                    <div class="col s12">
                        <p>7. Did students appreciate and follow the ground rules?</p>
                    </div>
                    <div class="col m12 l6">
                        <div class="input-field">
                            <select name="ground_rules" required>
                                <option value="" disabled selected>Choose your option</option>
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                            <label>Select your response</label>
                        </div>
                    </div>
                </div>

                <!--do you need help?-->
                <div class="row">
                    <div class="col s12">
                        <p>8. Do you need help with SOLE?</p>
                    </div>
                    <div class="col m12 l6">
                        <div class="input-field">
                            <select name="need_help">
                                <option value="" disabled selected>Choose your option</option>
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                            <label>Select your response</label>
                        </div>
                    </div>
                    <div class="input-field col m12 l6">
                        <input value="" id="help_text" type="text" class="validate">
                        <label class="active" for="help_text">If yes, please tell us a little more about your
                            challenge</label>
                    </div>
                </div>

                <!--additional notes-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">mode_edit</i>
                        <textarea name="notes" id="notes" class="materialize-textarea"></textarea>
                        <label for="notes">Additional Notes for your Records</label>
                    </div>
                </div>

                <div class="row">
                  <button type="submit" class="waves-effect waves-light btn">
                        Save
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>


<script type="text/javascript" src="https://unpkg.com/parse@1.11.1/dist/parse.min.js"></script>

{{> sole-config-frontend-js}}
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/js/dropzone.min.js"></script>
<script type="text/javascript" src="/js/img-upload.js"></script>
