<div class="breadcrumb-wrapper">
    <a href="/?sesh={{sesh}}" class="breadcrumb">Home</a>
    <a href="/soles?sesh={{sesh}}" class="breadcrumb">My SOLEs</a>
    <a class="breadcrumb">
        {{#if sole}}
            {{sole.question.question.text}}
        {{else}}
            Create
        {{/if}}
    </a>
</div>

<div class="row">
    <div class="col s12">
        <div class="card-panel">

            <h3>Upload Photos</h3>
            {{!-- <form action="/file-upload"
                  class="dropzone"
                  id="my-awesome-dropzone"></form>  --}}

            <form id="reflect-form" method="post" action="/sole-reflect">
              <input type="hidden" name="sesh" id="sesh" value="{{sesh}}">
              <input type="hidden" name="sole_id" value="{{sole.id}}">


                <div class="row">
                    <div class="col s12">
                        <h4>Upload Photos</h4>
                        <div class="file-field input-field">
                            <div class="btn">
                                <span>Upload Photos</span>
                                <input type="file" id="photoUpload" name="files" multiple>
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text" name="files-text" placeholder="Upload one or more photos">
                            </div>
                        </div>
                    </div>
                </div>

                <!--content knowledge objective-->

                <div class="row">
                    <div class="col s12">
                        <p>1. During this SOLE, your objective was {{sole.content_objective.text}}.  Do you think you
                            achieved this objective?</p>
                    </div>
                    <div class="col m12 l6">
                        <div class="input-field">
                            <select>
                                <option value="" disabled selected>Choose your option</option>
                                <option value="reflect.agree.strongly_agree">Strongly Agree</option>
                                <option value="reflect.agree.agree">Agree</option>
                                <option value="reflect.agree.disagree">Disagree</option>
                                <option value="reflect.agree.strongly_disagree">Strongly Disagree</option>
                            </select>
                            <label>Select your response</label>
                        </div>
                    </div>
                    <div class="input-field col m12 l6">
                        <input value="" id="content_objective_why" type="text" class="validate">
                        <label class="active" for="content_objective_why">Why do you think this?</label>
                    </div>
                </div>

                <!--type of thinking-->
                <div class="row">
                    <div class="col s12">
                        <p>2. What type of thinking were most students using during this SOLE? <a>Learn More
                            about Webb's Depth of Knowledge</a></p>
                    </div>
                    <div class="col m12 l6">
                        <div class="input-field">
                            <select>
                                <option value="" disabled selected>Choose your option</option>
                                <option value="reflection.type_of_thinking.recall">Recall and Reproduction</option>
                                <option value="reflection.type_of_thinking.skill">Skill/Concept</option>
                                <option value="reflection.type_of_thinking.short_strategic">Short Term Strategic</option>
                                <option value="reflection.type_of_thinking.long_strategic">Long Term Strategic</option>
                            </select>
                            <label>Select your response</label>
                        </div>
                    </div>
                    <div class="input-field col m12 l6">
                        <input value="" id="dok_why" type="text" class="validate">
                        <label class="active" for="dok_why">Why do you think this?</label>
                    </div>
                </div>

                <!--student engagement-->
                <div class="row">
                    <div class="col s12 m8">
                        <p>3. What percentage of students were engaged during the SOLE?</p>
                    </div>
                    <div class="col s12 m4">
                        <p class="range-field">
                            <input type="range" name="percent_engaged"
                                   min="0" step="1" max="100"
                                   required
                            />
                        </p>
                    </div>
                </div>

                <!--collaboration-->
                <div class="row">
                    <div class="col s12 m8">
                        <p>4. What percentage of students worked effectively and respectfully together and shared responsibility?</p>
                    </div>
                    <div class="col s12 m4">
                        <p class="range-field">
                            <input type="range" name="percent_collaboration"
                                   min="0" step="1" max="100"
                                   required
                            />
                        </p>
                    </div>
                </div>

                <!--technology use-->
                <div class="row">
                    <div class="col s12 m8">
                        <p>5. What percentage of student groups used technology effectively?</p>
                    </div>
                    <div class="col s12 m4">
                        <p class="range-field">
                            <input type="range" name="percent_technology"
                                   min="0" step="1" max="100"
                                   required
                            />
                        </p>
                    </div>
                </div>





                <!--communication-->
                <div class="row">
                    <div class="col s12 m8">
                        <p>6. What percentage of students articulated thoughts and listened effectively?</p>
                    </div>
                    <div class="col s12 m4">
                        <p class="range-field">
                            <input type="range" name="percent_communication"
                                   min="0" step="1" max="100"
                                   required
                            />
                        </p>
                    </div>
                </div>

                <!--content knowledge objective-->
                <div class="row">
                    <div class="col s12">
                        <p>7. Did students appreciate and follow the ground rules?</p>
                    </div>
                    <div class="col m12 l6">
                        <div class="input-field">
                            <select>
                                <option value="" disabled selected>Choose your option</option>
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                            <label>Select your response</label>
                        </div>
                    </div>
                </div>

                <!--do you need help?-->
                <div class="row">
                    <div class="col s12">
                        <p>8. Do you need help with SOLE?</p>
                    </div>
                    <div class="col m12 l6">
                        <div class="input-field">
                            <select>
                                <option value="" disabled selected>Choose your option</option>
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                            <label>Select your response</label>
                        </div>
                    </div>
                    <div class="input-field col m12 l6">
                        <input value="" id="help_why" type="text" class="validate">
                        <label class="active" for="help_why">If yes, please tell us a little more about your
                            challenge</label>
                    </div>
                </div>

                <!--additional notes-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">mode_edit</i>
                        <textarea id="notes" class="materialize-textarea"></textarea>
                        <label for="Notes">Additional Notes for your Records</label>
                    </div>
                </div>

                <div class="row">
                    <input type="submit" value="Save" class="waves-effect waves-light btn">
                </div>
            </form>

        </div>
    </div>
</div>


<script type="text/javascript" src="https://unpkg.com/parse@1.11.1/dist/parse.min.js"></script>
<script type="text/javascript" src="/js/sole-config.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/js/dropzone.min.js"></script>
<script type="text/javascript" src="/js/img-upload.js"></script>
