<div class="breadcrumb-wrapper">
    <a href="/" class="breadcrumb">{{{__ "Home"}}}</a>
    <a href="/soles" class="breadcrumb">{{{__ "My SOLEs"}}}</a>
    <a class="truncate truncate-question breadcrumb">
        {{#if sole}}
            {{sole.question.question.text}}
        {{else}}
            {{{__ "Create"}}}
        {{/if}}
    </a>
</div>

<div class="row">
    <div class="col s12">
        <div class="card-panel">

            <i class="large"></i>

            {{#if sole.observations}}
                <h5>Review Photos</h5>
                <div class="row">
                    <div class="input-field col s12 m6">
                        <input id="text-filter" type="text" class="validate">
                        <label for="text-filter">{{{__ "Search Notes & Feedback"}}}</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <select id="tag-filter" onchange="filterSelection()">
                            <option value="show-all" selected>{{{__ "Show All"}}}</option>
                            {{#each sole.tags}}
                                <option value="{{@key}}">{{this}}</option>
                            {{/each}}
                        </select>
                        <label>{{{__ "Filter"}}}</label>
                    </div>
                </div>
                <div class="row">
                    {{#each sole.observations}}
                        {{#if image.full}}
                            <div class="col s12 m6 l4 xl3 sole-observation-card-col show-all {{#each
                                    image.tags}}{{type}} {{/each}}">
                                <div id="observation-{{id}}" class="card small hoverable sole-observation">
                                    <div class="card-image">
                                        <img class="materialboxed" width="650" src="{{ image.full }}">
                                    </div>
                                    <div class="card-content">
                                        <span class="card-title activator grey-text text-darken-4">
                                            {{ image.time }}
                                            <i class="material-icons right">more_vert</i>
                                            {{#each image.tags}}
                                                <i class="{{icon}} observation-tag right tooltipped"
                                                   data-position="bottom"
                                                   data-tooltip="{{text}}"
                                                ></i>
                                            {{/each}}
                                        </span>
                                    </div>
                                    <div class="card-reveal">
                                        <span class="card-title grey-text text-darken-4"><i
                                                class="material-icons right">close</i></span>
                                        {{#if image.feedback}}
                                            <p>
                                                <strong>{{{__ "Feedback"}}} </strong>{{image.feedback}}
                                            </p>
                                        {{/if}}
                                        {{#if image.notes}}
                                            <p>
                                                <strong>{{{__ "Notes"}}}: </strong>{{image.notes}}
                                            </p>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                        {{/if}}
                    {{/each}}
                </div>
            {{else}}
                <h5>{{{__ "Add Photos"}}}</h5>
                <form action="/api/upload-sole-image"
                      class="dropzone"
                      id="myAwesomeDropzone">
                    <div class="fallback">
                        <input name="file" type="file" multiple required/>
                    </div>
                </form>
            {{/if}}

            <form id="reflect-form" method="post" action="/soles/{{sole.id}}/reflect">

                <input type="hidden" name="soleID" id="soleID" value="{{sole.id}}">


                <!--content knowledge objective-->
                <div class="row">
                    <div class="col s12">
                        <h5>{{{__ "Reflect"}}}</h5>
                        <p>1. {{{__ "During this SOLE, your objective was"}}} {{sole.content_objective.text}}. {{{__ "Do you think you
                            achieved this objective?"}}}</p>
                    </div>
                    <div class="col m12 l6">
                        <div class="input-field">
                            <select name="content_objective_achieved" required>
                                <option value="" disabled selected>{{{__ "Choose your option"}}}</option>
                                <option value="reflect.agree.strongly_agree">{{{__ "Strongly Agree"}}}</option>
                                <option value="reflect.agree.agree">{{{__ "Agree"}}}</option>
                                <option value="reflect.agree.disagree">{{{__ "Disagree"}}}</option>
                                <option value="reflect.agree.strongly_disagree">{{{__ "Strongly Disagree"}}}</option>
                            </select>
                            <label>{{{__ "Select your response"}}}</label>
                        </div>
                    </div>
                    <div class="input-field col m12 l6">
                        <input name="content_objective_achieved_why"
                               id="content_objective_why"
                               type="text"
                               required
                               class="validate">
                        <label class="active" for="content_objective_why">{{{__ "Why do you think this?"}}}</label>
                    </div>
                </div>

                <!--type of thinking-->
                <div class="row">
                    <div class="col s12">
                        <p>2. {{{__ "What type of thinking were most students using during this SOLE?"}}}
                            <a href="http://www.aps.edu/sapr/documents/resources/Webbs_DOK_Guide.pdf" target="_blank">
{{{__ "Learn More about Webb's Depth of Knowledge"}}}
                            </a>
                        </p>
                    </div>
                    <div class="col m12 l6">
                        <div class="input-field">
                            <select name="dok" required>
                                <option value="" disabled selected>{{{__ "Choose your option"}}}</option>
                                <option value="reflection.type_of_thinking.recall">{{{__ "Recall and Reproduction"}}}</option>
                                <option value="reflection.type_of_thinking.skill">{{{__ "Skill/Concept"}}}</option>
                                <option value="reflection.type_of_thinking.short_strategic">{{{__ "Short Term Strategic"}}}
                                </option>
                                <option value="reflection.type_of_thinking.long_strategic">{{{__ "Long Term Strategic"}}}</option>
                            </select>
                            <label>{{{__ "Select your response"}}}</label>
                        </div>
                    </div>
                    <div class="input-field col m12 l6">
                        <input name="dok_why"
                               id="dok_why"
                               type="text"
                               class="validate"
                               required>
                        <label class="active" for="dok_why">{{{__ "Why do you think this?"}}}</label>
                    </div>
                </div>

                <!--student engagement-->
                <div class="row">
                    <div class="col s12 m8">
                        <p>3. {{{__ "What percentage of students were engaged during the SOLE?"}}}</p>
                    </div>
                    <div class="col s12 m4">
                        <p class="range-field">
                            <input type="range" name="percent_engaged"
                                   min="0" step="5" max="100"
                                   required
                            />
                        </p>
                    </div>
                </div>

                <!--collaboration-->
                <div class="row">
                    <div class="col s12 m8">
                        <p>4. {{{__ "What percentage of students worked effectively and respectfully together and shared responsibility?"}}}</p>
                    </div>
                    <div class="col s12 m4">
                        <p class="range-field">
                            <input type="range" name="percent_collaboration"
                                   min="0" step="5" max="100"
                                   required
                            />
                        </p>
                    </div>
                </div>

                <!--technology use-->
                <div class="row">
                    <div class="col s12 m8">
                        <p>5. {{{__ "What percentage of student groups used technology effectively?"}}}</p>
                    </div>
                    <div class="col s12 m4">
                        <p class="range-field">
                            <input type="range" name="percent_technology"
                                   min="0" step="5" max="100"
                                   required
                            />
                        </p>
                    </div>
                </div>


                <!--communication-->
                <div class="row">
                    <div class="col s12 m8">
                        <p>6. {{{__ "What percentage of students articulated thoughts and listened effectively?"}}}</p>
                    </div>
                    <div class="col s12 m4">
                        <p class="range-field">
                            <input type="range" name="percent_communication"
                                   min="0" step="5" max="100"
                                   required
                            />
                        </p>
                    </div>
                </div>

                <!--content knowledge objective-->
                <div class="row">
                    <div class="col s12">
                        <p>7. {{{__ "Did students appreciate and follow the ground rules?"}}}</p>
                    </div>
                    <div class="col m12 l6">
                        <div class="input-field">
                            <select name="ground_rules" required>
                                <option value="" disabled selected>{{{__ "Choose your option"}}}</option>
                                <option value="true">{{{__ "Yes"}}}</option>
                                <option value="false">{{{__ "No"}}}</option>
                            </select>
                            <label>{{{__ "Select your response"}}}</label>
                        </div>
                    </div>
                </div>

                <!--do you need help?-->
                <div class="row">
                    <div class="col s12">
                        <p>8. {{{__ "Do you need help with SOLE?"}}}</p>
                    </div>
                    <div class="col m12 l6">
                        <div class="input-field">
                            <select name="need_help">
                                <option value="" disabled selected>{{{__ "Choose your option"}}}</option>
                                <option value="true">{{{__ "Yes"}}}</option>
                                <option value="false">{{{__ "No"}}}</option>
                            </select>
                            <label>{{{__ "Select your response"}}}</label>
                        </div>
                    </div>
                    <div class="input-field col m12 l6">
                        <input value="" id="help_text" name="help_text" type="text" class="validate">
                        <label class="active" for="help_text">{{{__ "If yes, please tell us a little more about your challenge"}}}</label>
                    </div>
                </div>

                <!--additional notes-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">mode_edit</i>
                        <textarea name="notes" id="notes" class="materialize-textarea"></textarea>
                        <label for="notes">{{{__ "What worked well during this SOLE? What didn't work well?"}}}</label>
                    </div>
                </div>

                <div class="row">
                    {{#if sole.observations}}
                        <button id="save_my_sole" type="submit" class="waves-effect waves-light btn">
                        {{{__ "Save"}}}
                        </button>
                    {{else}}
                        <a id="upload_photos_reminder"
                           class="waves-effect waves-light btn"
                           onclick="photoReminder()">
                        {{{__ "Add Photos"}}}
                        </a>
                        <button id="save_my_sole" type="submit" class="waves-effect waves-light btn" style="display:none">
                        {{{__ "Save"}}}
                        </button>
                    {{/if}}
                </div>
            </form>

        </div>
    </div>
</div>


<script type="text/javascript" src="https://unpkg.com/parse@1.11.1/dist/parse.min.js"></script>

{{> sole-config-frontend-js}}
<script type="text/javascript" src="/js/dropzone.min.js"></script>
<script type="text/javascript" src="/js/img-upload.js"></script>

<script>

    function photoReminder() {
        M.toast({html: '{{{__ "Please add at least 1 photo"}}}'});
        $("html, body").animate({scrollTop: 0}, "fast");
    }

    function filterSelection() {
        var tag = $('#tag-filter').val();
        $('.sole-observation-card-col').hide();
        $('.' + tag).show();
    }

    $(document).ready(function () {
        $("#text-filter").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $(".sole-observation-card-col").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });

</script>