<div class="breadcrumb-wrapper">
    <a href="/" class="breadcrumb">Home</a>
    <a href="/soles" class="breadcrumb">My SOLEs</a>
    <a class="breadcrumb">
        {{#if sole}}
            {{sole.question.question.text}}
        {{else}}
            Create
        {{/if}}
    </a>
</div>

<div class="row">
    <div class="col s12">
        <div class="card-panel">
            <form id="soles-add-form" action="/sole-create" method="post">
              <div class="row" >


                <!--question-->
                <div class="input-field col s12 m10 offset-m1">
                    <input id="question"
                           name="question"
                           type="text"
                           class="validate"
                           required
                           value="{{sole.question.text}}">
                    <label for="question">What is your big question?</label>
                </div>
                <!--planned date-->
                <div class="input-field col s12 m10 offset-m1 l4">
                    <i class="material-icons prefix grey-text">today</i>
                    <input id="planned_date"
                           name="planned_date"
                           type="text"
                           class="datepicker"
                           required
                           value="{{sole.planned_date.dateString}}">
                    <label for="planned_date">What is the planned date?</label>
                    <span class="helper-text"></span>
                </div>
                <!--planned time-->
                <div class="input-field col s12 m10 offset-m1 l4">
                    <i class="material-icons prefix grey-text">access_time</i>
                    <input id="planned_time"
                           name="planned_time"
                           type="text"
                           class="timepicker"
                           required
                           value="{{sole.planned_date.timeString}}">
                    <label for="planned_time">What is the planned time?</label>
                </div>
                <!--duration-->
                <div class="input-field col s12 m10 offset-m1 l4">
                    <i class="material-icons prefix grey-text">av_timer</i>
                    <input id="duration"
                           name="time"
                           type="number"
                           min="30"
                           required
                           class="validate"
                           value="{{sole.planned_duration}}"
                            onchange="showRecommended()">
                    <label for="duration">How many minutes is your class?</label>
                    <span id="duration_helper_text" class="red-text helper-text"></span>
                </div>
                <!--grade-->
                <div class="input-field col s12 m10 offset-m1 l4">
                    <i class="material-icons prefix grey-text">class</i>
                    <select id="grade" required>
                        {{#select sole.grade}}
                        <option value="" disabled selected>Choose a grade</option>
                        <option value="edu.pre-k">Preschool</option>
                        <option value="edu.k">Kindergarten</option>
                        <option value="edu.1">First Grade</option>
                        <option value="edu.2">Second Grade</option>
                        <option value="edu.3">Third Grade</option>
                        <option value="edu.4">Fourth Grade</option>
                        <option value="edu.5">Fifth Grade</option>
                        <option value="edu.6">Sixth Grade</option>
                        <option value="edu.7">Seventh Grade</option>
                        <option value="edu.8">Eighth Grade</option>
                        <option value="edu.9">Ninth Grade</option>
                        <option value="edu.10">Tenth Grade</option>
                        <option value="edu.11">Eleventh Grade</option>
                        <option value="edu.12">Twelfth Grade</option>
                        {{/select}}
                    </select>
                    <label>What grade is your class?</label>
                </div>
                <!--subject-->
                <div class="input-field col s12 m10 offset-m1 l4">
                    <i class="material-icons prefix grey-text">library_books</i>
                    <select id="subject" required>
                        {{#select sole.subject}}
                        <option value="" disabled selected>Choose a subject</option>
                        <option value="top.careereducation">Career Education</option>
                        <option value="top.engineering">Engineering</option>
                        <option value="top.english">English</option>
                        <option value="top.englishlanguagedevelopment">English Language Development</option>
                        <option value="top.financialliteracy">Financial Literacy</option>
                        <option value="top.foreignlanguage">Foreign Language</option>
                        <option value="top.health">Health</option>
                        <option value="top.libmedia-infolit">Library Media / Information Literacy</option>
                        <option value="top.lifeskills">Life Skills</option>
                        <option value="top.math">Math</option>
                        <option value="top.physicaleducation">Physical Education</option>
                        <option value="top.science">Science</option>
                        <option value="top.socialstudies">Social Studies</option>
                        <option value="top.thearts">The Arts</option>
                        {{/select}}
                    </select>
                    <label>What subject is your class?</label>
                </div>
                <!--class label-->
                <div class="input-field col s12 m10 offset-m1 l4">
                    <i class="material-icons prefix grey-text">label</i>
                    <input id="class_label"
                           name="class_label"
                           type="text"
                           value="{{sole.class_label}}">
                    <label for="class_label">Class Label (optional)</label>
                </div>
                <!--number of students-->
                <div class="input-field col s12 m10 offset-m1 l4">
                    <i class="material-icons prefix grey-text">school</i>
                    <input id="num_students"
                           name="num_students"
                           type="number"
                           min="4"
                           required
                           class="validate"
                           value="{{sole.num_students}}">
                    <label for="num_students">How many students?</label>
                    <span class="helper-text" data-error="SOLEs need at least 4 students"></span>
                </div>
                <!--number of devices-->
                <div class="input-field col s12 m10 offset-m1 l4">
                    <i class="material-icons prefix grey-text">devices</i>
                    <input id="num_devices"
                           name="num_devices"
                           type="number"
                           min="2"
                           required
                           class="validate"
                           value="{{sole.num_devices}}">
                    <label for="num_devices">How many online
                        devices are
                        available?</label>
                    <span class="helper-text" data-error="SOLEs need at least 2 devices"></span>
                </div>
                <!--number of groups-->
                <div class="input-field col s12 m10 offset-m1 l4">
                    <i class="material-icons prefix grey-text">group</i>
                    <input id="num_groups"
                           name="num_groups"
                           type="number"
                           min="2"
                           required
                           class="validate"
                           value="{{sole.num_groups}}">
                    <label for="num_groups">How many groups will students be in?</label>
                    <span class="helper-text" data-error="SOLEs need at least 2 groups"></span>
                </div>
                <!--recommended settings-->
                <div id="recommended_row" class="hide row">
                    <div class="col s12 m10 offset-m1 l8 offset-l2">
                        <div class="card">
                            <div class="card-content lp-stats">
                                <span class="card-title center-align">Recommended Timing</span>
                                <div class="row"></div>
                                <div class="row">
                                    <div class="col s12 red-text">
                                        SAMPLE CONTENT FOR TESTING
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12">
                                        <div id="test-slider"></div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col m4 right-align hide-on-small-only">
                                        <img src="images/logos/question.png" alt="question">
                                    </div>
                                    <div class="col s12 m8">
                                        <div class="input-field inline">
                                            <input id="recommended_question"
                                                   value="5"
                                                   type="number"
                                                   max="10"
                                                   class="validate recommended-values">
                                            <span class="helper-text" data-error="no no"></span>
                                        </div> minutes to introduce the question.
                                    </div>
                                    <div class="col m4 right-align hide-on-small-only">
                                        <img src="images/logos/investigate.png" alt="question">
                                    </div>
                                    <div class="col s12 m8">
                                        <div class="input-field inline">
                                            <input id="recommended_investigation"
                                                   value="45"
                                                   type="number"
                                                   class="validate recommended-values">
                                            <span class="helper-text" data-error="wrong"></span>
                                        </div> minutes to for the investigation.
                                    </div>
                                    <div class="col m4 right-align hide-on-small-only">
                                        <img src="images/logos/review.png" alt="question">
                                    </div>
                                    <div class="col s12 m8">
                                        <div class="input-field inline">
                                            <input id="recommended_review"
                                                   value="45"
                                                   type="number"
                                                   class="validate recommended-values">
                                            <span class="helper-text"></span>
                                        </div> minutes for the review phase.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--content objective-->
                <div class="input-field col s12 m10 offset-m1">
                    <select id="grade" required>
                        {{#select sole.content_objective}}
                        <option value="" disabled selected>Choose a content knowledge objective</option>
                        <option value="objective.content.standard">Introducing students to a new concept</option>
                        <option value="objective.content.prior">Helping students connect prior knowledge to a current topic</option>
                        <option value="objective.content.explore">Allowing students to discover and explore interests related to a topic</option>
                        <option value="objective.content.deepen">Helping students deepen understanding of a current topic</option>
                        <option value="objective.content.review">Reviewing knowledge from a current unit</option>
                        <option value="objective.content.assess">Assessing student understanding of a current topic</option>
                        {{/select}}
                    </select>
                    <label>Which of these objectives best describes your goal for this SOLE?</label>
                </div>
                <div class="col s12 m6">
                        <p>How will you manage this SOLE?</p>
                        <p>
                            <label>
                                <input type="checkbox" name="grouporganization" {{#if sole.grouporganization}}checked{{/if}}>
                                <span>Students will be forming their own groups</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input type="checkbox" name="groupsharing" {{#if sole.groupsharing}}checked{{/if}}>
                                <span>Sharing among groups while researching is allowed</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input id="exit_ticket" type="checkbox" name="self_assessment" {{#if sole.self_assessment}}checked{{/if}}>
                                <span>Students will complete an exit ticket
                                after the SOLE</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input type="checkbox" name="useapp"  />
                                <span>I will use the StartSOLE app to help
                                facilitate our work</span>
                            </label>
                        </p>
                        <p>
                            <a href="http://www.startsole.org/app-home.html" target="_blank">Download the
                                StartSOLE app</a>
                        </p>
                    </div>
                <!--materials-->
                <div class="col s12 m6">
                    <p>What materials will be available for students to use?</p>
                    {{#if sole}}
                    {{#each sole.materials}}
                        <p>
                            <label>
                                <input type="checkbox" {{#if this.checked}}checked{{/if}}/>
                                <span>{{this.name}}</span>
                            </label>
                        </p>
                    {{/each}}
                    {{else}}
                    <p>
                       <label><input type="checkbox" name="writing_tools">
                         <span>Writing Tools</span>
                       </label>
                     </p>
                     <p>
                       <label>
                         <input type="checkbox" name="poster_paper">
                         <span>Poster Paper</span>
                       </label>
                     </p>
                     <p>
                       <label>
                         <input type="checkbox" name="physical">
                         <span>Physical resources (books, supporting content)</span>
                       </label>
                     </p>
                     <p>
                       <label>
                         <input type="checkbox" name="student_organizer">
                         <span>SOLE Student Organizer</span>
                       </label>
                     </p>
                     <p>
                       <label>
                         <input type="checkbox" name="other" >
                         <span>Other</span>
                       </label>
                     </p>

                    {{/if}}
                </div>
                <!--materials-->
                <div class="col s12">
                    <p class="no-bottom-margin">Pick up to 3 student behaviors you would like to focus on during this SOLE</p>
                    <div class="row">
                    {{#if sole}}

                    {{#each sole.target_observations}}
                        <div class="col s12 m6 target-observation-col">

                            <label>
                                <input type="checkbox" {{#if this.checked}}checked{{/if}}/>
                                <span>{{this.name}}</span>
                            </label>

                        </div>
                    {{/each}}
                    {{else}}
                    <div class="col s12 m6 target-observation-col">

                           <label>
                               <input type="checkbox" name="collaborating">
                               <span>Collaborating</span>
                           </label>

                       </div>
                       <div class="col s12 m6 target-observation-col">

                           <label>
                               <input type="checkbox" name="technology">
                               <span>Using technology well</span>
                           </label>

                       </div>
                       <div class="col s12 m6 target-observation-col">

                           <label>
                               <input type="checkbox" name="respectful" >
                               <span>Respectful dialogue and debate</span>
                           </label>

                       </div>
                       <div class="col s12 m6 target-observation-col">

                           <label>
                               <input type="checkbox" name="desire">
                               <span>Desire to learn content</span>
                           </label>

                       </div>
                       <div class="col s12 m6 target-observation-col">

                           <label>
                               <input type="checkbox" name="vocabulary">
                               <span>Appropriate use of vocabulary</span>
                           </label>

                       </div>
                       <div class="col s12 m6 target-observation-col">

                           <label>
                               <input type="checkbox" name="help_learn">
                               <span>Students teaching students</span>
                           </label>

                       </div>
                       <div class="col s12 m6 target-observation-col">

                           <label>
                               <input type="checkbox" name="help_technology">
                               <span>Helping peers with technology</span>
                           </label>

                       </div>
                    {{/if}}
                    </div>
                </div>

                </div>

                <div class="row">
                    <input type="submit" class="waves-effect waves-light btn">
                </div>


              </form>




        </div>
    </div>
</div>

<script type="text/javascript" src="/js/nouislider.min.js"></script>
<script type="text/javascript" src="/js/soles-add.js"></script>
