<div class="card">
    <div class="card-content">
        <span class="card-title">
            <a href="/rings/{{ringId}}/educators-by-grade">{{{__ "Educators By Grade"}}}</a>
            <a id="resetEducatorByGrade" class="right waves-effect waves-light btn-small">reset</a>
        </span>
        <canvas id="educator-by-grade-chart"></canvas>
    </div>
</div>

<script>
$(document).ready(function() {
    var educatorByGradeChartCanvas = document.getElementById('educator-by-grade-chart');
    var educatorByGradeData = {
        datasets: [{
            data: [{{dashboard.userCountByGradeBand}}],
            backgroundColor: ['#f44336','#673ab7','#03a9f4','#4caf50','#607d8b']
        }],

        // These labels appear in the legend and in the tooltips when hovering different arcs
        labels: [
            '{{{__ "Pre-K & Kindergarten"}}}',
            '{{{__ "Elementary"}}}',
            '{{{__ "Middle"}}}',
            '{{{__ "High School"}}}',
            '{{{__ "Other"}}}'
        ]
    };
    var educatorByGradeDataKinder = {
        datasets: [{
            data: [{{dashboard.userCountByGrade.[edu.pre-k]}},{{dashboard.userCountByGrade.[edu.k]}}],
            backgroundColor: ['#f44336','#673ab7']
        }],

        // These labels appear in the legend and in the tooltips when hovering different arcs
        labels: [
            '{{{__ "Pre-K"}}}',
            '{{{__ "Kindergarten"}}}'
        ]
    };
    var educatorByGradeDataElementary = {
        datasets: [{
            data: [
                {{dashboard.userCountByGrade.[edu.1]}},
                {{dashboard.userCountByGrade.[edu.2]}},
                {{dashboard.userCountByGrade.[edu.3]}},
                {{dashboard.userCountByGrade.[edu.4]}},
                {{dashboard.userCountByGrade.[edu.5]}},
                {{dashboard.userCountByGrade.[edu.6]}},
            ],
            backgroundColor: ['#f44336','#673ab7','#03a9f4','#4caf50','#607d8b','#ff9800']
        }],

        // These labels appear in the legend and in the tooltips when hovering different arcs
        labels: [
            '{{{__ "1st grade"}}}',
            '{{{__ "2nd grade"}}}',
            '{{{__ "3rd grade"}}}',
            '{{{__ "4th grade"}}}',
            '{{{__ "5th grade"}}}',
            '{{{__ "6th grade"}}}'
        ]
    };
    var educatorByGradeDataMiddle = {
        datasets: [{
            data: [{{dashboard.userCountByGrade.[edu.7]}},{{dashboard.userCountByGrade.[edu.8]}}],
            backgroundColor: ['#f44336','#673ab7']
        }],

        // These labels appear in the legend and in the tooltips when hovering different arcs
        labels: [
            '{{{__ "7th grade"}}}',
            '{{{__ "8th grade"}}}'
        ]
    };
    var educatorByGradeDataHigh = {
        datasets: [{
            data: [
                {{dashboard.userCountByGrade.[edu.9]}},
                {{dashboard.userCountByGrade.[edu.10]}},
                {{dashboard.userCountByGrade.[edu.11]}},
                {{dashboard.userCountByGrade.[edu.12]}}
            ],
            backgroundColor: ['#f44336','#673ab7','#03a9f4','#4caf50']
        }],

        // These labels appear in the legend and in the tooltips when hovering different arcs
        labels: [
            '{{{__ "9th grade"}}}',
            '{{{__ "10th grade"}}}',
            '{{{__ "11th grade"}}}',
            '{{{__ "12th grade"}}}'
        ]
    };
    var educatorByGradeChart = new Chart(educatorByGradeChartCanvas.getContext('2d'), {
        type: 'doughnut',
        data : educatorByGradeData
    });

    //handle drilldown clicks
    educatorByGradeChartCanvas.onclick = function(evt) {
        var activePoints = educatorByGradeChart.getElementsAtEvent(evt);
        if (activePoints[0]) {
            var chartData = activePoints[0]['_chart'].config.data;
            var idx = activePoints[0]['_index'];

            var gradeBand = chartData.labels[idx];
            var value = chartData.datasets[0].data[idx];

            switch(gradeBand) {
                case '{{{__ "Pre-K & Kindergarten"}}}':
                    educatorByGradeChart.destroy();
                    educatorByGradeChart = new Chart(educatorByGradeChartCanvas.getContext('2d'), {
                        type: 'doughnut',
                        data : educatorByGradeDataKinder
                    });
                    $("#resetEducatorByGrade").show();
                    break;
                case '{{{__ "Elementary"}}}':
                    educatorByGradeChart.destroy();
                    educatorByGradeChart = new Chart(educatorByGradeChartCanvas.getContext('2d'), {
                        type: 'doughnut',
                        data : educatorByGradeDataElementary
                    });
                    $("#resetEducatorByGrade").show();
                    break;
                case '{{{__ "Middle"}}}':
                    educatorByGradeChart.destroy();
                    educatorByGradeChart = new Chart(educatorByGradeChartCanvas.getContext('2d'), {
                        type: 'doughnut',
                        data : educatorByGradeDataMiddle
                    });
                    $("#resetEducatorByGrade").show();
                    break;
                case '{{{__ "High School"}}}':
                    educatorByGradeChart.destroy();
                    educatorByGradeChart = new Chart(educatorByGradeChartCanvas.getContext('2d'), {
                        type: 'doughnut',
                        data : educatorByGradeDataHigh
                    });
                    $("#resetEducatorByGrade").show();
                    break;
                default:
            }

        }
    };

    $("#resetEducatorByGrade").hide();
    $("#resetEducatorByGrade").click(function(){
        educatorByGradeChart.destroy();
        educatorByGradeChart = new Chart(educatorByGradeChartCanvas.getContext('2d'), {
            type: 'doughnut',
            data : educatorByGradeData
        });
        $("#resetEducatorByGrade").hide();
    });

});
</script>